[2020-06-29 18:49] lukehinds opened #12 "in-toto integration"
Placeholder issue for in-toto integration tasks

@SantiagoTorres , hopefully you can see this.

- [x] Await on https://github.com/tektoncd/chains/pull/9 landing first
- [ ] Create simple python package, place onto test pypi
- [ ] Construct tasks and pipeline
- [ ] How will we query the link file?

Will need their own issues.
- [ ] Storage adapter
- [ ] Support more signing keys

[2020-07-07 13:03] dlorenc commented on #12
OK, I'm going to get started on a skeleton PR for in-toto formatting next!

[2020-07-07 14:46] lukehinds opened #14 "Hello world example"
I think some sort of simple hello world walk through / example would be useful, so that folks new to chains can follow something along and get an idea of how everything rigs together.

The current `DEVELOPER.md` lists how to load with ko. It would be nice to then point to a simple tutorial of how to setup secrets and then get signing to occur against a pipeline or task. As per title, it could be a

[2020-07-13 18:06] dlorenc commented on #12
- [ ] Add some glue in chains to detect when a python package is built and sign/upload that to pip

[2020-07-17 14:46] dlorenc opened #20 "OCI Storage Backend"
Right now chains supports "Tekton" as a storage backend, which means signatures and payloads are stored in Tekton objects via annotations. We would also like to store these objects in an OCI registry.

Notary v2 work is ongoing, which should make it possible to store signatures for container images in a native manner, but that is still a long way off from being supported widely. Additionally, this

[2020-07-22 19:49] dlorenc opened #27 "Proposal: Config Model"
PR #22 will add a config store we can use to configure the chains system. Here's a rough sketch for what that config might look like.

Roughly in chains, we have a few subsystems:

- Things to watch and sign
- Metadata formats to sign (in-toto, grafeas, etc.)
- Signing strategies (PGP, x509, etc.)
- Storage systems to store signatures in

Some storage systems and metadata formats may cross artifac

[2020-07-22 19:52] dlorenc commented on #27
For things like wheels on pip, we'll have the Task/Run upload the wheel itself. The chains system will then generate and store a signature that will also be stored in pypi. That could look like:

[code]

[2020-08-01 13:14] dlorenc opened #35 "Annotation Storage"
Right now signatures and payloads are stored in annotations on the TaskRuns:

[code]

But, as we start storing multiple types of payloads (one for the overall TaskRun, one for each image/binary produced, etc.), we need a way to store multiple. Some ideas:

## Store a JSON object under each annotation.
Kubectl apply does something similar:
[code]

This could look like:
[code]

Problems: The modific

[2020-08-03 14:07] mpeters commented on #35
I agree, go with the 2nd option. I've chased down enough weird read-modify-write bugs to not want any more :)

[2020-08-04 15:18] #35 closed

[2020-08-15 05:49] #14 closed

[2020-08-15 08:49] #12 closed

[2020-08-15 17:08] SantiagoTorres commented on #12
/reopen

I think this is still going on?

[2020-08-16 15:01] #20 closed

[2021-04-23 14:02] dlorenc opened #61 "e2e test (with creds) for KMS signing"

[2021-04-23 14:02] dlorenc commented on #61
This will have to only run locally still

[2021-04-23 14:08] dlorenc opened #62 "cosign signature spec compat"
https://github.com/sigstore/cosign/blob/main/SPEC.md

When we sign OCI artifacts with "simplesigning" format we should make sure it works with this spec. I think it does already, should just double check and add a test.

[2021-04-27 01:07] dlorenc opened #63 "e2e tests: add a local OCI repo we can push to"
We can just setup `registry:2` or something from Dockerhub in a local service as part of the e2e setup, then push there during tests.

[2021-04-30 02:15] dlorenc opened #65 "ITE-6 as a formatter"
https://github.com/tektoncd/chains/compare/main...solarwinds:ite6 is a draft branch.

The ITE-6 code is here: https://github.com/in-toto/in-toto-golang/tree/ite-6

[2021-05-01 00:31] dlorenc commented on #65
@kommendorkapten - are you working on this still from the draft branch?

[2021-05-02 14:07] dlorenc commented on #65
Hey @kommendatorkapten - I rebased your commit then updated it to the latest ite-6 formats (from your other commit):
https://github.com/in-toto/in-toto-golang/tree/ite-6

My branch is here: https://github.com/dlorenc/chains-1/pull/new/ite6

It's hard to merge back into yours because I rebased...

[2021-05-04 13:15] dlorenc opened #68 "Create a separate k8s service account for chains"
Also maybe run it in a different namespace from the pipelines controller. Right now we piggy-back off both.

This should be done to limit ACLs on any signing keys better.

[2021-05-07 01:40] #27 closed

[2021-05-07 14:23] dlorenc commented on #65
Early feedback on the ITE-6 draft branch:

* use PURL to encode references to container images
* The build ID should be configurable when chains is installed/setup, not use the pod name

[2021-05-07 14:23] dlorenc commented on #65
There was a bigger question around the "entrypoint" field too we still need to work out.

[2021-05-07 19:24] #62 closed

[2021-05-07 19:26] dlorenc opened #71 "Better defaults/validation for the configmap"
We should probably clean up the configmap code a bit, the defaults are set in yaml which means they get overwritten every time you deploy.

We can probably do this better with actual defaults, and maybe even use reflection!

[2021-05-07 20:02] priyawadhwa opened #72 "Clarify and document release process"
This will probably be something similar to what triggers does, described here: https://github.com/tektoncd/triggers/blob/main/tekton/release-cheat-sheet.md

[2021-05-07 20:06] priyawadhwa opened #73 "Run the integration tests that require a registry"
Right now, we're skipping these tests because we can't access GCR. Some options we have to fix this:
1. Use an insecure registry running in the cluster (this can only be accessed from pods because the LoadBalancer doesn't work)
2. Figure out a way to inject a secret with GCR credentials into the test cluster

[2021-05-07 20:07] priyawadhwa opened #74 "Release v0.1.0"
Let's release v0.1.0 of chains! Things we should do before then:
- [x] Clarify and document release process https://github.com/tektoncd/chains/issues/72

And it would be nice to have:
- [x]  Better defaults/validation for the configmap https://github.com/tektoncd/chains/issues/71
- [x] Create a separate k8s service account for chains  #68
- [x] Run the integration tests that require a registry #73

[2021-05-07 20:25] dlorenc opened #75 "Figure out ITE-5/SSL Signing Spec integration"
See here: https://github.com/in-toto/in-toto-golang/pull/101

When generating ITE-6 payloads we can use this format (and the JSON wrapper) for signatures.

It might mean we have to change the interfaces around a bit, but now's the time!

[2021-05-07 20:25] dlorenc commented on #75
https://github.com/secure-systems-lab/signing-spec/blob/master/protocol.md

[2021-05-10 22:58] #68 closed

[2021-05-10 22:59] priyawadhwa opened #79 "Support cosign generated private keys for signing"
This would probably be a type of x509 signing, which supports the COSIGN ENCRYPTED PRIVATE KEY type

[2021-05-11 00:17] dlorenc commented on #79
+1! Nice.

[2021-05-11 20:21] #79 closed

[2021-05-11 20:54] #72 closed

[2021-05-12 18:11] #73 closed

[2021-05-12 18:22] priyawadhwa commented on #63
We have this now with #80 !

[2021-05-12 18:22] #63 closed

[2021-05-12 18:40] #71 closed

[2021-05-12 20:39] priyawadhwa opened #84 "Sign chains releases with chains"
### Feature request

### Use case

[2021-05-13 18:39] priyawadhwa opened #86 "Add instructions for authenticating to a registry for the controller"
This way the controller can push signatures to a registry! I got this to work by creating a dockerregistry secret with credentials, and applying it to the `tekton-chains-controller` service account as an imagePullSecret

[code]

[2021-05-13 23:19] #74 closed

[2021-05-14 21:46] dlorenc opened #87 "Hardened Tekton!"
I'm imagining a Tekton Cat but with the chains necklace on, hanging out with the Falco logo. The cat will be holding some kind of shield with the SPIFFE logo on it, and we can throw in some sigstore/cosign logos too when we get them.

Ref https://github.com/cncf/tag-security/issues/625#issuecomment-841510718

But anyway - the real is to try to put together an end to end hardened build system using

[2021-05-15 06:25] lukehinds commented on #87
I would certainly be interested in looking at the TPM part (I just need to get my head around the mapping from an abstracted container layer to the hosts hardware and how we retain the hardware root of trust all the way up).

Tagging @lkatalin

[2021-05-15 12:45] dlorenc commented on #87
This would have to go through a TEP, but one other idea to attest build node identity (through say, SPIRE) would be for the Tekton pipelines controller to inject some kind of challenge token as an env variable into each TaskRun.

The entry pointer could generate a keypair and get an x509 SVID from SPIRE. The key would sign the challenge token, generating a response.

The response and SVID bundle c

[2021-05-15 13:08] dlorenc commented on #87
My very loose understanding here is that most k8s workloads go through the SPIRE API for things like this. The SPIRE API can be configured to do TPM roots of trust and issue SVIDs to actual running workloads in the cluster. Here's one example: https://github.com/bloomberg/spire-tpm-plugin

[2021-05-15 15:58] colek42 commented on #87
@dlorenc https://github.com/boxboat/spire-tpm-plugin is our fork of that plugin -- we do plan to upstream it.

[2021-05-15 16:02] dlorenc commented on #87
Nice!!!

[2021-05-17 15:25] priyawadhwa opened #90 "v0.2.0 release"
We should include these in the next release:
- [x] Add instructions for authenticating to a registry for the controller https://github.com/tektoncd/chains/issues/86
- [x] ITE-6 as a formatter  https://github.com/tektoncd/chains/issues/65
- [ ] Docs/Readme improvements #102

and it would be nice to have these as well!
- [ ] Figure out ITE-5/SSL Signing Spec integration #75
- [ ] Sign chains release

[2021-05-19 11:05] lukehinds opened #91 "No signing annotations available"
This may well not be a bug, but figured I would use this to track my findings.

I am following the readme steps, but there are no signing annotations such as payload / signature. I have tried this with gpg, cosign and x509.

Steps followed

1. Generated keys
[code]

2. Load the secrets
[code]

3. Run the example taskrun
[code]

[code]

[code]

Resulting taskrun data, note `  "chains.tekton.dev/sig

[2021-05-19 11:25] dlorenc commented on #87
One other possibility:

- Tekton (and chains) now relies on pod statuses to parse outputs, but these statuses can be written by anyone with edit permissions on the pod
- This means we don't **know** the results came from the actual pod.

Projected volume service accounts can help here: https://cloud.google.com/community/tutorials/gke-workload-id-clientserver

- Each taskrun could generate an ephem

[2021-05-19 12:46] lukehinds commented on #91
found out the issue:

[code]

Lets keep this open and it could be a documentation change or troubleshoot test.

[2021-05-19 12:52] dlorenc commented on #91
Did you figure out what was wrong with the pgp key?

[2021-05-19 15:53] priyawadhwa commented on #91
@lukehinds feel free to ping me on Slack if you want to debug this together!

[2021-05-20 00:44] #86 closed

[2021-05-21 10:17] #91 closed

[2021-05-21 10:24] lukehinds opened #96 "uuid in annotation"
We add a UUID to annotations for payload-taskrun and signature-taskrun

[code]

I guess there is a reason for this? I ask as it might it more cumbersome for folks to parse out the values as they will need to find the UUID or use some sort of regex or wildcard to ignore the appended uuid.

[2021-05-21 16:42] priyawadhwa commented on #96
Looks like it was added in https://github.com/tektoncd/chains/pull/66! @dlorenc might know more about how necessary it is to include the UID in the annotation

[2021-05-22 00:36] dlorenc commented on #96
It was more laziness and lack of creativity on the proper interfaces.

Objects (Taskruns and OCI artifacts right now) get signed and stored somewhere
The signatures can get stored in the Taskrun yaml itself OR a document database, etc.
The signatures need a unique key to identify them in the storage namespace.
When signatures for a taskrun get stored **in the same taskrun** - they don't need a uni

[2021-05-22 08:31] lukehinds commented on #96
Is it any particular storage system that needs this? Putting my database head on, there would normally be a primary key that is the unique element and requiring key constraints.

Another option would be to use the taskrun name:

[code]

[code]

This way people have a look up value they can know the key in advance to perform a look up.

[2021-05-23 00:40] dlorenc opened #97 "Add support for Fulcio/keyless signatures using OIDC"
This is about to land in cosign: https://github.com/sigstore/cosign/pull/335

Fulcio can issue certs for OIDC accounts. The prod instance supports GCP ones, local instances can do any.

We can get a new cert for every signature, or get one for 5-10m and rotate before it expires.

We'll need to add on other "verification bundles" into the signatures/payloads for all the storage backends.

[2021-05-24 18:36] priyawadhwa commented on #96
+1 to using the taskrun name, it would probably be easier for users

[2021-05-24 18:45] dlorenc commented on #96
The taskrun name isn't necessarily unique, you can delete one and create it again, that's kind of the issue there.

[2021-05-24 22:23] priyawadhwa opened #98 "Add option to store attestations in rekor"
An easy way to start this would be to turn on experimental mode for cosign, which will upload OCI signatures to the tlog for us.

Eventually, we could store ITE6 attestations in rekor as well!

[2021-05-25 05:01] lukehinds commented on #96
understood, this is not a high prio so we can try to figure this out later. From what I can see most users will try to regex / wildcard around this, as I don't believe they can query for the UUID and then construct a value by concat'ing the taskrun name + uuid to retrieve the entry, it looks like we are adding this uuid just so its able to be stored in docdb (I might have all this wrong, so pls do

[2021-05-25 13:01] dlorenc opened #99 "Figure out how to store ITE-6 attestations on the OCI image (cosign style) as well"
They're signed, so maybe we can stick them in the same .sig image with a different media type?

[2021-05-25 16:06] priyawadhwa commented on #99
That makes sense to me!

[2021-05-25 17:05] dlorenc opened #100 "Better retries around storage"
If we're storing multiple payloads on multiple backends, we'll retry if any of the storage uploads failed. This means we may retry storing something that was successfully uploaded the first time, which some of our backends don't like.

We could either make all the operations safe to retry, or be more specific about what we retry.

[2021-05-25 17:47] dlorenc opened #102 "Docs/Readme improvements"
We should reorganize the readme a bit to make this more approachable. Some ideas:

- Start with the description of what chains is for, and then a quick list of all the features
- Then show installation and a quickstart
- Move exhaustive config documentation to it's own page
- Move tutorials for each key/signing type to their own page
- A fancy gif/screenshot never hurts!

[2021-05-25 18:56] priyawadhwa commented on #102
A logo would be cool too 😄

[2021-05-25 19:24] dlorenc commented on #102
https://github.com/cdfoundation/artwork/blob/main/tekton/additional-artwork/tekton-chains/color/tekton_chains-color.svg

[2021-05-25 19:25] dlorenc commented on #102
I keep forgetting to move them here :)

[2021-05-25 19:37] priyawadhwa commented on #102
ooh amazing!

[2021-05-26 00:26] dlorenc opened #105 "e2e tests for the entire catalog!"
We should come up with some tests for all the tasks in the catalog, or the pipelines examples: https://github.com/tektoncd/pipeline/tree/main/examples

[2021-05-26 17:13] priyawadhwa opened #106 "Add linter to check for headers on Go files"
I don't think this is enforced right now because some of our files have headers and some don't ~

[code]

[2021-05-26 21:59] priyawadhwa opened #108 "Switch to using packageurl-go library for creating package URLs"
We generate package URLs for the intoto formatter:
https://github.com/tektoncd/chains/blob/39916b794dd2b4d9216d6bc01b9e27b507317dfa/pkg/chains/formats/intotoite6/intotoite6.go#L313

Instead of creating the string ourselves, it would be nice if we could use the library to do it for us: https://github.com/package-url/packageurl-go

I briefly tried to add it in myself, but the library returns a perce

[2021-06-02 21:06] priyawadhwa opened #110 "setup working group for chains"
we probably need to:
- update this doc: https://github.com/tektoncd/community/blob/main/working-groups.md
- add the meeting to the tekton community cal!

maybe more?

[2021-06-04 01:54] #110 closed

[2021-06-04 03:14] dlorenc commented on #108
Honestly I kind of really don't like the purl spec for docker containers. It's ugly to use, it's ugly to special case them too.

cc @jonjohnsonjr tell me what to do here.

[2021-06-04 15:59] jonjohnsonjr commented on #108
It seems like it would be better to just invent an entirely new thing. [This](https://github.com/package-url/packageurl-go/blob/0789fa562603bb38a897134d735e7fc7ddf44b1e/packageurl.go#L44-L74) just seems like the purl data model is a big [category mistake](https://en.wikipedia.org/wiki/Category_mistake), and I don't see how you could build something useful on top of that abstraction. How can golang

[2021-06-04 16:05] dlorenc commented on #108
That was my guess...

[2021-06-04 17:22] priyawadhwa commented on #108
Yah I agree

Looks like the in-toto spec only _recommends_ the package url format ([details](https://github.com/in-toto/attestation/blob/main/spec/field_types.md#ResourceURI)) -- we could potentially just put in the image name (qualified with a digest) for OCI images instead?

[2021-06-06 21:25] dlorenc opened #113 "Signed outputs"
Chains currently watches the outputs (resource or task) from TaskRuns, and signs these. Using a separate system to capture the final signed payload is an intentional decision to avoid the need to make cluster-level secrets accessible to the build process. This does require placing some trust in the Kubernetes control plane/data layer. Anyone with edit permission on pods in that namespace could for

[2021-06-07 20:43] priyawadhwa opened #117 "v0.3.0 Release"
Things we should definitely do:
- [x]  #100
- [x]  https://github.com/tektoncd/chains/issues/84
- [x] https://github.com/tektoncd/chains/issues/157
- [x] https://github.com/tektoncd/chains/pull/158
- [x] https://github.com/tektoncd/chains/pull/155

[2021-06-10 12:45] priyawadhwa commented on #90
we did this!

[2021-06-10 12:45] #90 closed

[2021-06-18 18:05] priyawadhwa opened #124 "Sign other types of artifacts"
Right now we only sign TaskRuns and OCI Images, but it would be cool to give users a way to sign other types of results (binaries, files, whatever)

[2021-06-22 19:23] priyawadhwa commented on #100
I think docdb was the only backend that complained about this, but if there are others lmk & I can try to fix those as well!

[2021-06-22 20:35] mbestavros commented on #106
@priyawadhwa Is there a particular reason an Apache 2.0 [SPDX header](https://spdx.github.io/spdx-spec/appendix-V-using-SPDX-short-identifiers-in-source-files/) is insufficient for Tekton?

I wrote an [SPDX header linter](https://github.com/actions-automation/spdx) a while back on Github Actions that I'd be happy to set up if SPDX is sufficient.

[2021-06-22 21:28] priyawadhwa commented on #106
Hi @mbestavros a linter to check for the header above would be great!

[2021-06-22 21:31] mbestavros commented on #106
@priyawadhwa By "the header above" do you mean specifically the one in the original issue? SPDX wouldn't work?

[2021-06-22 21:33] priyawadhwa commented on #106
I'm not totally sure 😕  I figure it would be best to stay consistent with the other tekton repos, which I'm pretty sure use the boilerplate in the original issue.

[2021-06-22 21:39] mbestavros commented on #106
@priyawadhwa Okay, thanks. I'll have to implement something from scratch then 😄

[2021-06-22 21:43] priyawadhwa commented on #106
I remember skaffold had a small script that checked for boilerplate when I maintained it, maybe that would work! It was run as a unit test IIRC.

https://github.com/GoogleContainerTools/skaffold/blob/master/hack/boilerplate.sh

[2021-06-26 21:58] #100 closed

[2021-07-08 02:11] dlorenc opened #135 "Remove PGP?"
Remove PGP? We added it as the first signer, because it's all that was really in use. Since, it's been deprecated from the go crypto library, and we have other options.

If no one is using PGP, we should remove it.

ref https://github.com/golang/go/issues/44226

[2021-07-08 19:16] lukehinds commented on #135
kill it with fire!

[2021-07-10 01:03] dlorenc commented on #135
Ok, PR on Monday!

[2021-07-12 16:07] mattmoor commented on #124
Two that immediately come to mind are PipelineRuns as well as Runs (for custom tasks cc @imjasonh).

It might also be prudent to better formalize the way image outputs are signed.  I was spitballing this with @dlorenc a week or so ago, but this would be another great application of duck typing task/pipeline[1] input/output shapes (as I was playing with in mattmoor/mink motivated by CLI DevX).

_[1

[2021-07-13 19:32] #135 closed

[2021-07-20 11:39] dlorenc commented on #117
I think we're getting close here. WDYT @priyawadhwa ?

[2021-07-23 15:00] priyawadhwa opened #156 "Set reproducible field for in-toto provenance"
Right now, we parse through TaskRun annotations to set this field. However, annotations aren't copied over into the TaskRun spec from the Task itself, so this often doesn't work.

We'll need a different way for users to let Chains know if a build is reproducible.

https://github.com/tektoncd/chains/blob/9f241554748f234c2c026d503f0166f43342853b/pkg/chains/formats/provenance/provenance.go#L111

[2021-07-23 15:06] priyawadhwa opened #157 "Update docs for v0.3.0 release"
We probably want some docs around :
- enabling transparency log support
- enabling fulcio, with additional options
- tekton-provenance custom type
- the new dynamodb storage backend is supported
-

[2021-07-24 02:21] mattmoor opened #161 "NewStorageBackend has a smell"
I'm talking about this code in particular:
https://github.com/tektoncd/chains/blob/288242f3ca5ff100eca254192ca715e48394614c/pkg/chains/storage/oci/oci.go#L50-L51

There are two things about this that are bugging me:
1. `NewInCluster` should be avoided, and this should probably be calling `New` with a kube client passed through (this will also make testing easier because you can pass a fake client

[2021-07-25 20:39] dlorenc commented on #161
Not sure I understand the second part - are you saying the chains controller would assume the identity of the task in order to store the image info with impersonation?

[2021-07-25 21:03] mattmoor commented on #161
@dlorenc the second item is talking about a bunch of things.  Impersonating the identity of the task is one way to satisfy my concerns (which is the last piece of that bullet).

As far as the "reconfiguration" bit, `mink` is an example where I've done this for much of knative and tekton by folding most things into a single controller process / identity (it would make more sense to use the mink con

[2021-07-25 21:54] dlorenc commented on #161
In general we assume chains has more/different permissions from the task itself, but for this specific case where the signatures are stored directly next to the images in the same repository, the task identity should be fine.

[2021-07-26 14:58] mattmoor commented on #161
Would y'all be cool if I put together a PR that:
1. Plumbed through a kube client (New vs. NewInCluster), and
2. Used the TaskRun's identity instead of the chains controller's identity.

Not sure who all would need to sign off on that change.  cc @dlorenc @priyawadhwa

[2021-07-26 15:05] dlorenc commented on #161
Go for it! Let's just make sure to document that change in the release notes and README, it will probably make things easier to configure overall but it means people should be able to drop permissions from the chains service account which is a nice benefit.

[2021-07-27 10:24] #161 closed

[2021-07-27 11:54] priyawadhwa opened #166 "Add docs for verifying Chains releases"

[2021-07-27 11:55] #102 closed

[2021-07-27 11:56] priyawadhwa opened #167 "Add integration test for rekor/fulcio"
The fulcio one most likely can't run in our integration test cluster because I'm guessing Workload Identity isn't set up

It could still be nice to have the test though, and we could manually run it before releases or something

[2021-07-27 15:36] #84 closed

[2021-07-27 16:16] #157 closed

[2021-07-28 15:51] #117 closed

[2021-07-29 11:49] priyawadhwa opened #173 "Provenance for releases should contain materials section"
We need to update the release Pipeline to store the Git commit and url as results, so that Chains picks it up and includes it in the final provenance.

Right now, the git repo/commit isn't in there

[code]

[2021-08-01 11:50] dlorenc opened #174 "Chains configuration"
We should consider making chains configurable so it can use a different set of criteria for making decisions based on some characteristics of the TaskRun.

A concrete example here is the Tekton CI set-up. We store everything right now in rekor, but we probably only care about release builds.

[2021-08-01 11:54] dlorenc commented on #174
Cc @priyawadhwa

[2021-08-02 14:20] priyawadhwa commented on #174
We could do it via annotations?

Create a new `manual` option for the chains config:

[code]

and then only add things to the log if this annotation is on the TaskRun:

[code]

[2021-08-02 15:31] dlorenc commented on #174
+1

[2021-08-02 19:08] #173 closed

[2021-08-06 01:53] mattmoor opened #181 "Chains races with TaskRun completion/deletion"
# Expected Behavior

All TaskRuns are signed.

# Actual Behavior

TaskRuns that are quickly cleaned up might not get signed.

# Steps to Reproduce the Problem

I see this sometimes when running tasks with `mink run task`, which pretty aggressively cleans things up upon completion.

---

I think the fix is to have chains attach a finalizer to the TaskRun, which entails:
1. Customize the finalizer n

[2021-08-06 15:58] mattmoor commented on #181
cc @priyawadhwa @dlorenc

I'm gonna try to knock this off since it seems relatively straightforward 🤞

[2021-08-06 15:59] mattmoor commented on #181
/assign

[2021-08-06 16:45] #181 closed

[2021-08-09 15:52] priyawadhwa opened #187 "GOLANGCI-LINT timeout failing build/integration tests for PRs"
This seems similar to https://github.com/tektoncd/plumbing/issues/241, which the tektoncd/pipeline repo faced in early 2020.

Seems like the fix was adding more nodes to the prow cluster and upgrading golangci-lint to a version which used less memory (1.27).

Our current version already incorporates those changes (1.41) so we could look into adding more nodes to the prow cluster.

For now, I'll tr

[2021-08-09 16:03] priyawadhwa commented on #187
seems like CPU usage has been hitting 100% over the past few hours but not too often. the build test passed on #188 also passed in <2 minutes, so maybe the cluster just isn't under as much load anymore

![image](https://user-images.githubusercontent.com/10676490/128737326-6d2f16ea-505c-4ee7-bcdf-eb5307c68a0f.png)

[2021-08-09 16:19] #187 closed

[2021-08-09 22:06] #106 closed

[2021-08-10 13:03] #174 closed

[2021-08-12 15:14] priyawadhwa opened #190 "TaskRuns can't be stored in OCI registries"
we get this error:

[code]

[2021-08-12 15:58] priyawadhwa opened #191 "Retry uploading up to 3x, otherwise mark as failed"
Right now, we will continuously retry if some part of the reconcile loops fails. We could retry up to 3 times, and track the number of retries via annotations on the TaskRun:

[code]

If all three retries fail, we can set the signed annotation on the TaskRun to “failed”:

[code]

If we set it to "failed", we should leave the "retry" annotation so that it's clear all three retries occurred and fail

[2021-08-12 16:48] priyawadhwa commented on #190
so looks like we only support OCI storage backend for OCI images right now

https://github.com/tektoncd/chains/blob/main/pkg/chains/storage/oci/oci.go#L72

we could add support for storing TaskRuns and signatures in OCI
1. name the image [repo]-[taskrun name-uid]
2. upload the TaskRun (with the annotations containing signature/) to OCI via cosign upload-blob library
3. also upload the signature to

[2021-08-12 20:11] priyawadhwa commented on #190
waiting on https://github.com/sigstore/cosign/pull/535 to merge so that we can use cosign to upload files to an OCI registry

[2021-08-12 22:01] priyawadhwa commented on #190
The PR was merged & I tried updating but ran into some dependency conflicts -- chains depends on knative which requires k8s.io/api at v0.20.7, while cosign @ main requires v0.22.0

[2021-08-21 17:46] dlorenc opened #203 "Figure out how to store attestations on OCI images"
We've started storing attestations for images in cosign using a ".att" suffix. We should figure out how to do that here in chains (right now we don't support storing attestations in OCI). I think the biggest challenge will be that the storage backends don't know what they're storing (signatures vs. attestations), and we hardcoded the ".sig" suffix.

cc @priyawadhwa any ideas?

[2021-08-22 19:47] mattmoor opened #204 "Chains finalizer can block deletion indefinitely"
# Expected Behavior

Deleting a namespace containing taskruns completes successfully.

# Actual Behavior

I am seeing the chains finalization failing because the service account gets cleaned up, which results in a reconciliation error, and the TaskRun sits around forever (keeping the namespace forever).

# Steps to Reproduce the Problem

I noticed this because I was running the pipelines e2e tests

[2021-08-23 16:30] priyawadhwa commented on #204
That could work!

I wonder if https://github.com/tektoncd/chains/pull/198 could resolve this as well -- right now Chains will continuously try to sign a TaskRun, and with this PR after 3 failures it'll mark the TaskRun as "failed" and move on.

[2021-08-23 16:36] mattmoor commented on #204
Yeah that might work.

[2021-08-23 17:14] priyawadhwa opened #205 "Tekton Chains Beta"
A list of things we want to do before releasing 1.0:

- [x] https://github.com/tektoncd/chains/issues/204
- [x] https://github.com/tektoncd/chains/issues/203
- [x] https://github.com/tektoncd/chains/issues/191
- [x] https://github.com/tektoncd/chains/issues/190
- [x] https://github.com/tektoncd/chains/issues/166
- [x] https://github.com/tektoncd/chains/issues/156
- [x] https://github.com/tektoncd/

[2021-08-23 19:19] priyawadhwa opened #206 "Setting OCI.repository does nothing"
We should be able to copy cosign for oci repository replacement for storing image signatures

ref: https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/sign.go#L305

[2021-08-24 01:05] priyawadhwa commented on #203
I think we can check if the payload we're uploading is an OCI image or an in-toto statement, and if it's the image then create the signature the way we've been doing it with cosign

https://github.com/tektoncd/chains/blob/407e75f0b1ce57f7a7989247cb0a3ef435c04fe6/pkg/chains/storage/oci/oci.go#L89

and if it's the in-toto statement we can use the cosign library for generating the attestation layer &

[2021-08-24 11:02] #191 closed

[2021-08-24 11:02] #204 closed

[2021-08-24 11:02] #206 closed

[2021-08-24 11:02] dlorenc commented on #203
nope, sgtm

[2021-08-24 19:42] priyawadhwa commented on #190
once https://github.com/tektoncd/chains/issues/203 is closed we should be able to do this as well

[2021-08-25 14:57] #203 closed

[2021-08-26 01:16] mattmoor opened #211 "Unit tests don't pass without GCE metadata server (or equiv)"
# Expected Behavior

Unit tests can run ~anywhere.

# Actual Behavior

Unit tests fail in github actions: https://github.com/knative/pkg/pull/2237/checks?check_run_id=3427942753#step:6:390

# Steps to Reproduce the Problem

See the linked actions run's PR.

# Additional Info

[2021-08-26 16:54] priyawadhwa opened #212 "Release v0.4.0"
- [x] https://github.com/tektoncd/chains/pull/213

[2021-08-27 00:08] #211 closed, assigned to nobody

[2021-08-27 15:33] priyawadhwa opened #217 "Provenance for chains releases doesn't include `materials` section"
I thought I'd fixed this, but it still doesn't seem to be picking it up --

[code]

[2021-08-27 15:33] #212 closed, assigned to nobody

[2021-09-03 16:44] priyawadhwa opened #221 "Tlog uploads require annotation even if `manual` mode isn't specified"
if `transparency.enabled`=`true`, then we shouldn't have to check for the annotation

[2021-09-09 20:33] lukehinds commented on #166
Is this a crypto verification (check a release is signed) ?

[2021-09-13 04:41] priyawadhwa commented on #166
Yes! Just a simple doc to show how to use cosign and the public key in the repo to verify released images.

[2021-09-15 21:24] #217 closed

[2021-09-22 05:15] priyawadhwa commented on #98
this is done!

[2021-09-22 05:15] #98 closed

[2021-09-22 14:25] #221 closed

[2021-09-22 17:17] priyawadhwa opened #234 "`_type` field is incorrectly set in in-toto provenance generation"
`_type` is [supposed to be a URI](https://github.com/in-toto/attestation/blob/main/spec/README.md#statement), which should be set to `https://in-toto.io/Statement/v0.1`

Right now, we set it to the name of the Task

[2021-09-22 17:48] #234 closed

[2021-09-22 18:47] priyawadhwa opened #236 "Add tutorial for setting up Chains with signed provenance"
It gets confusing because we need a specific set of config options for this to work -- it would be nice if we just had a simple tutorial people could set up and follow

[2021-09-22 18:49] priyawadhwa commented on #190
This is (sort of) fixed -- we can store in-toto attestations in OCI registries but we still can't store any generic thing in a registry (e.g. a TaskRun yaml as is)

@nadgowdas were you trying to store the TaskRun yaml as is?

[2021-09-22 18:56] priyawadhwa opened #237 "Tekton Chains v0.5.0"
We have some bug fixes people need for signed provenance, so it's probably time to do another release! Will aim to get it out today or tomorrow.

[2021-09-22 19:05] nadgowdas commented on #190
@priyawadhwa I was trying to save the signed taskrun spec in OCI registry. Basically using `artifacts.taskrun.storage` config with `oci`. And I was using `tekton-provenance` format, which stores it in JSON format

[2021-09-22 20:36] priyawadhwa commented on #190
sounds good, that should be working now! i'll close this issue then :)

[2021-09-22 20:36] #190 closed

[2021-09-23 11:12] 06kellyjac opened #239 "in-toto format includes repeat materials"
# Expected Behavior

Using the same image for multiple steps results in the same image appearing in the materials array multiple times

This could maybe be a concern if these get very long?

# Actual Behavior

Since the in-toto format lists an array of materials I don't see any benefit in listing out 3 times that an image was used if there's 3 steps using the same image.

If the digest.sha256 and

[2021-09-23 14:03] #236 closed

[2021-09-24 23:11] #237 closed

[2021-09-24 23:24] priyawadhwa commented on #239
Hey @06kellyjac thanks for opening an issue. Looking at the [spec](https://slsa.dev/provenance/v0.1), it doesn't really specify what to do in this case. I think it's probably fine to dedupe the list of materials.

Would you be interested in contributing a fix?

[2021-09-25 17:14] 06kellyjac commented on #239
Sure :+1:

[2021-09-27 21:09] priyawadhwa opened #241 "released images in gcr mirrors aren't getting signed"
[code]

We tell Chains to sign it here:

https://github.com/tektoncd/chains/blob/9bd7fb8e1e06a33567e1a93d525bbf103e1f58a0/release/publish.yaml#L202

so something is going wrong. Once this is fixed in Chains, it'll need to be fixed in Pipelines as well.

[2021-09-27 23:51] pritidesai commented on #241
thanks @priyawadhwa, would this change the number of UUIDs, adding one for each mirror i.e. an additional record getting created in the transparency logs?

[2021-09-28 00:01] priyawadhwa commented on #241
yes, it should! there should be one record per image, if there are still two we should definitely look into that as it's probably a separate issue.

[2021-09-30 14:44] naveensrinivasan opened #244 "Node attestation and workload attestation"
The chains roadmap shows integration with SPIFFE/SPIRE.

Is the plan to get node attestation and workloads attestation from SPIRE and sign it ?

- We would like to know what kind of node was the pipelines ran in?

[2021-09-30 18:57] priyawadhwa opened #246 "Check the image exists before uploading an attestation to OCI"
This seems like a reasonable check before we store attestations in registry

[2021-10-04 18:48] mattmoor opened #248 "Blog example is broken"
# Expected Behavior

https://cd.foundation/blog/2021/06/18/verifiable-supply-chain-metadata-for-tekton/?utm_content=181854017 should work!

# Actual Behavior

It is broken, because I broke it 😞

# Steps to Reproduce the Problem

Follow the blog

# Additional Info

I broke this here: https://github.com/tektoncd/chains/commit/00877044c7d97df600e0d8c5f7a2c14b1db12449#diff-9020fbd9f794f80f73f1ef607318

[2021-10-05 00:33] priyawadhwa commented on #248
I'm gonna give this a try, having one secret instead of two would definitely be better!

I've also asked if the blog post could be edited 🤞🏽  At the very least we could change
[code]
to
[code]
to apply the `imagePullSecret` to the service account the task runs under.  If I can get one secret to work I'll add that in instead.

[2021-10-05 00:34] mattmoor commented on #248
Exactly.

But I think if we can switch things to `DOCKER_CONFIG` using pull secrets, the example will also become more portable, which I like.

[2021-10-06 01:38] priyawadhwa commented on #248
For sure, here's a gist -- https://gist.github.com/priyawadhwa/f6f7365dcfbc63722c5999fb2a7e704f

I basically created the `registry-credentials` secret from the blog post. I can't seem to get a `dockerconfig` type secret to work with kaniko, so far I've only gotten a `generic` k8s secret generated from my docker `config.json` to work 😕

[2021-10-06 19:27] priyawadhwa opened #249 "Update `slsa-provenance` predicate type"
Once `slsa-provenance` v0.2 is official, we want to switch to using that in Tekton. To do this we need to:

- [x] Update the `slsa-provenance` format with the v0.2 spec
- [x] Deprecate the `tekton-provenance` format
- [x] Update any pipelines using Chains for provenance generation (distroless and Tekton releases come to mind), and the

[2021-10-07 02:17] priyawadhwa opened #250 "Better document how to set `materials` field in provenance"
It's mentioned here, but it isn't super clear: https://github.com/tektoncd/chains/blob/main/docs/intoto.md#standard-in-toto-predicate

[2021-10-07 02:18] priyawadhwa opened #251 "Parse results to populate `materials` field in provenance"
Right now we look through params for [specific name/value combos](https://github.com/tektoncd/chains/blob/main/docs/intoto.md#standard-in-toto-predicate), but we should look at TaskRun results as well.

[2021-10-07 05:12] sbose78 opened #252 "MANIFEST_INVALID while pushing signature/attestation"
# Expected Behavior

Should have been able to push signature/attestations after being able to push the image.
( Image ref: quay.io/shbose/kaniko-chains:0.2 )

# Actual Behavior

Push to registry fails.

[code]
Is this the issue with Quay.io not supporting a specific version of the schema?

Here's how my `docker manifest inspect...` looks like:

[code]

### Logs

[code]

# Steps to Reproduce the Pr

[2021-10-07 10:10] yfolias opened #253 "Unable to upload provenance data to OCI while using in-toto format"
# Expected Behavior
The expected behaviour would include uploading in-toto provenance data to an OCI registry.

# Actual Behavior
While using in-toto provenance and OCI storage due to erroneous usage of the digest twice resulting in the following error.
[code]
This issue doesn't exist for Tekton provenance.

# Steps to Reproduce the Problem

1. Edit chains-config and specify `artifacts.taskrun.for

[2021-10-08 22:01] priyawadhwa commented on #252
Hey @sbose78 thanks for opening this issue. I browsed the `cosign` repo and it looks like Quay will not be supported until Quay 3.6 is released. Check out this issue for more details: https://github.com/sigstore/cosign/issues/40#issuecomment-833217878

[2021-10-10 14:00] #253 closed

[2021-10-11 13:33] lukehinds opened #258 "sigstore/sigstore 1.0 tag"
Chains can pin to 1.0  https://github.com/sigstore/sigstore/releases/tag/v1.0.0

[2021-10-11 18:22] priyawadhwa commented on #248
I ended up modifying the blog post with the simple fix above just so that it runs, but i still have to give your method a try @sbose78 !

[2021-10-11 21:52] rgreinho opened #260 "Implement missing function of the Backend interface in OCI storage"
### Feature request

PR #245 adds new functions to the storage Backend interface: https://github.com/tektoncd/chains/blob/4357a115f305bf5b6f1f25db8968f400e1ce8b80/pkg/chains/storage/storage.go#L29-L34

However these new functions could not be implemented for the OCI backend due to missing information that was required but not stored anywhere while storing the payload.

### Use case

The main use c

[2021-10-11 23:11] sbose78 commented on #251
Hi @priyawadhwa,

Do you imply that the following
[code]

.. should get populated in "materials" ? Sorry for the obvious question! If yes, I'd like to pick up this issue unless you already have it in WIP somewhere.

[2021-10-12 16:17] sbose78 opened #261 "Are we signing both TaskRun & associated images ?"
https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-provenance-tutorial.md

In this tutorial, is Chains pushing both the TaskRun signature and the image signature to the oci registry ?

I could find
* one .sig and
* one .att
... per image in my registry. I was hoping to see another .sig in my registry.

[2021-10-12 16:58] sbose78 commented on #261
Perfect, thank you @priyawadhwa ! ( I'll follow-up with more questions once I have them, I'll close this ..)

[2021-10-12 16:58] #261 closed

[2021-10-12 18:47] sbose78 commented on #261
So here are the operations I was expecting:

1) Generate in-toto provenance payload using the TaskRun, create a signatur and push it.
2) Generate signature of the image(Payload), create a signature and push it.
3) Also push(1) to rekor.

Based on this understanding, I opened https://github.com/tektoncd/chains/pull/264

[2021-10-13 00:58] sbose78 opened #265 "imagePullSecrets v/s secrets"
Hello,

I have a question,
why has Chains been designed to read credentials from the service account's `imagePullSecrets` instead of `secrets` - given that we are really _pushing_ ( and not _pulling_ ) to the registry.

[code]

[2021-10-13 01:49] sbose78 commented on #265
.. though I'm aware that `imagePullSecrets` is a reserved API for specifying 'how to authenticate with a registry'.

[2021-10-14 00:01] #251 closed

[2021-10-14 13:49] sbose78 opened #267 "Adding hints to off-the-shelf tasks"
Greetings!

Have we considered introducing other mechanisms of hinting (like annotations) to specify where to pick up the IMAGES/IMAGE_URL/IMAGE_DIGEST information from, in an off-the-shelf Task which isn't adhering to the naming conventions used for hinting today ?

[2021-10-14 16:58] priyawadhwa opened #268 "Look into generating automatic release docs"
as suggested here ! https://github.com/tektoncd/chains/pull/245#issuecomment-941972631

[2021-10-14 18:26] rgreinho opened #269 "CLI does not build when importing Chains module"
# Expected Behavior

Being able to include the `chains` module in the CLI and build it.

# Actual Behavior

As reported in PR #245 (https://github.com/tektoncd/chains/pull/245#issuecomment-940585881), the CLI does not build due to a dependency issue when the `chains` module is added.

[code]

# Steps to Reproduce the Problem

1. cd cli
2. git pr 1440 upstream # Or use your favorite one-liner to pu

[2021-10-15 01:10] #258 closed, assigned to nobody

[2021-10-15 15:20] rgreinho commented on #269
Updating the pipeline dependency as mentioned above produce the same error 😢.

[2021-10-19 18:14] priyawadhwa commented on #267
Hey @sbose78 we haven't considered this yet. Is there a reason annotations would work better for you?

[2021-10-27 15:03] pxp928 opened #271 "Capture step information for in-toto/slsa Provenance"
### Feature request

Adding further detail into the taskrun payload by adding `environment` for each step within a taksrun. (https://slsa.dev/provenance/v0.1)

`    "recipe": {
      "type": "<URI>",
      "definedInMaterial": /* integer */,
      "entryPoint": "<STRING>",
      "arguments": { /* object */ },
      "environment": { /* object */ }`

This added information would provide more informa

[2021-10-28 16:17] #265 closed, assigned to nobody

[2021-10-28 19:15] rgreinho opened #273 "Cannot verify image nor attestation with OCI backend"
## Expected Behavior

I was not able verify an image and its attestations when the storage was configured as OCI.

I used some information from the provenance tutorial (https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-provenance-tutorial.md)/).

## Actual Behavior

`cosign` fails to verify my content.

## Steps to Reproduce the Problem

[code]

Open a second terminal to setup the

[2021-10-29 14:04] priyawadhwa opened #274 "Use SimpleContainerImage for OCI images from sigstore/sigstore"
Chains is unmarshaling JSON differently from cosign since we don't have the same JSON tags on the structs we use. Instead, use sigstore/sigstore like cosign does to fix this issue.

this should be an easy switch once https://github.com/sigstore/sigstore/pull/124 is merged

ref https://github.com/kyverno/kyverno/pull/2626

[2021-10-29 18:37] rgreinho commented on #273
So this actually seems to be a problem with the proxy for the minikube registry addon.

When an image is pushed using `localhost:${REGISTRY_PORT}`, the connection is refused for some unknown reason:

[code]

The task succeeded to upload the image since it used the internal name `registry.kube-system.svc.cluster.local/slsapoc` directly instead of the proxy.

I am going to update the tasks to use th

[2021-10-29 20:06] rgreinho commented on #273
Even when replacing the minikube registry with `ttl.sh` (`ttl.sh/salsapoc:10m`), I still get errors.

[code]

[code]

[2021-11-01 18:10] #274 closed, assigned to priyawadhwa

[2021-11-02 13:51] rgreinho commented on #273
That makes sense! I completely missed that 🤦.

I am going to retry with a task which is Chains compliant 👍

[2021-11-02 14:42] priyawadhwa commented on #273
Cool let me know how it goes!

[2021-11-02 15:04] sbose78 commented on #273
@priyawadhwa on that note, would it help if we track and update all tekton catalog Tasks to adhere to the type hinting rules ( I could spearhead that effort ) ?

[2021-11-02 15:08] rgreinho commented on #273
@priyawadhwa it worked! 🎉

@sbose78 I am going to submit a patch to make the buildpack task I used Chains compliant.

[2021-11-02 15:16] priyawadhwa commented on #273
@rgreinho awesome! & yes @sbose78 that would be great 😄  we can open an issue in this repo with links to all the tasks in the catalog that could be made chains compliant.

[2021-11-02 16:51] priyawadhwa opened #276 "Consider renaming `IMAGE_URL`/`IMAGE_DIGEST` type hints to `ARTIFACT_NAME`/`ARTIFACT_DIGEST`"
When generating provenance from a `TaskRun` [Chains looks for](https://github.com/tektoncd/chains/blob/main/docs/config.md#chains-type-hinting) `*IMAGE_URL` and `*IMAGE_DIGEST` results types to figure out what artifact was actually built. This is what goes into the [subject](https://github.com/tektoncd/chains/blob/main/PROVENANCE_SPEC.md#schema) section of the provenance. Right now, we assume OCI

[2021-11-02 21:53] developer-guy opened #277 "Generating SBOMs for container images once they're built by TaskRun"
### Feature request

We (w/@dentrax @erkanzileli) propose generating SBOMs once the images are built when Taskrun has been completed, then signing them. I want to list the tools that can help us to do that:

* https://github.com/anchore/syft
* https://github.com/anchore/sbom-action
* https://github.com/CycloneDX/gh-gomod-generate-sbom
* https://github.com/spdx/spdx-sbom-generator
* https://github.

[2021-11-03 11:11] priyawadhwa commented on #277
Hey @developer-guy thanks for opening this issue, I think it's a really good idea! It looks like some of these tools build SBOMs from the container image and some from source code. I see two ways of doing this:
1. SBOMs are generated in a TaskRun and then Chains is responsible for signing & storing the signatures somewhere (works with source code or image)
2. Chains generates the SBOM from a conta

[2021-11-03 11:32] developer-guy commented on #277
Thank you so much for the explanation. TBH I'm in favor of the second one because all these tools that I mentioned above can be used as a go module, so we can choose one of the formats that we want to support (SPDX, Cyclone DX), then select the module to do that, we'll be ready to go. So it makes sense to me because, as Tekton Chains did for provenance, we can do the same one for SBOMs, I mean gen

[2021-11-03 12:47] priyawadhwa commented on #277
Ya that sounds good to me! tbh we could probably end up supporting both options, I can see either being valuable to people.

I think this change should be small enough that it doesn't require a TEP, but if you think you'd like to have more of a discussion on one definitely go for it :) Maybe we could add `artifacts.oci.sbom.enabled` and `artifacts.oci.sbom.format` as options to the config, which u

[2021-11-03 14:06] #273 closed, assigned to nobody

[2021-11-03 14:20] sbose78 commented on #276
This makes sense.

Have you considered where the signature would be pushed, in case of binaries?

[2021-11-03 14:43] priyawadhwa commented on #276
So if binaries are stored in one of our supported storage backends, (`gcs` or `docdb`) then we would need some way of referencing their location in the Task (maybe `gcs://mybucket/myfile` or `firestore://something` for docdb. Then, Chains could find the file, sign it and store the signature in the same spot. We could also add this to the config as a new artifact type to configure where signature a

[2021-11-03 15:57] mlieberman85 commented on #277
As per Priya's comment, wouldn't the second option only be able to support images, and in fact wouldn't it only support after the fact scans of the image?

A lot of plugins for SBOM generate the SBOM at build time, and generally that's a better process than scanning after the fact. For flexibility purposes I like the first option as it's more or less what we already do with stuff like signing imag

[2021-11-03 21:41] priyawadhwa opened #278 "Add in a `hermetic` boolean to chains provenance"
Once hermekton isn't experimental, it would be cool if Tekton generated provenance could tell you if the build happened in a hermetic environment. There's a `reproducible` boolean in `slsa-provenance` now, and it could be cool to have a `hermetic` boolean as well (this could either be tekton chains specific, or we could look into adding it to official `slsa-provenance`.

we could check for the ann

[2021-11-04 15:19] mtcolman opened #279 ""chains.tekton.dev/signed": "failed""
Hi, I'm not sure if this is a bug or not, so raising in free-form, apologies if I've used the wrong thing.

I've followed the tutorial here: https://github.com/tektoncd/chains/blob/main/docs/tutorials/getting-started-tutorial.md

And at the end of it I get:
[code]

However, when having a look around with:
[code]

I can see that :
[code]

Shows:
[code]

Has something gone wrong here? And if so, why

[2021-11-08 20:01] pxp928 commented on #279
Based on the error messages it seems like there is an issue with the gcr registry that the example taskrun uses. If i change the registry to something else instead of `gcr.io/foo/bar` it changes to `chains.tekton.dev/signed: "true"`
[code]

[2021-11-09 17:55] priyawadhwa commented on #279
Hey @mtcolman thanks for pointing this out! My guess is the tutorial needs to be updated and Chains is trying to upload the signature for the image to an OCI registry (which it doesn't have auth for, so it fails). But, it first stores the signature and payload on the TaskRun correctly, which is why `verify-blob` passes.

Could you provide the output of:
[code]

that should confirm my suspicion!

[2021-11-09 18:07] pxp928 commented on #279
Hey @priyawadhwa I was having similar issues but my `cosign verify-blob` also fails to verify.

The chains controller is throwing error:
[code]
Here is my configmap for chains:
[code]

Cosgin Verify Error:
[code]

[2021-11-09 19:17] mtcolman commented on #279
Hi, @priyawadhwa I subsequently ran through the in-toto tutorial, so my configmap says:
[code]

But yes, I haven't set anything up for pushing to repo in the first tutorial, so I agree with you.

[2021-11-09 21:38] pxp928 commented on #279
Figured out my issue was that i was using an old version of cosign. Once I updated it solved the issue.

[2021-11-10 15:21] priyawadhwa commented on #279
@pxp928 glad it's working again! @mtcolman yup looks like it's trying to store the signature in oci -- i think if you change the storage back to `tekton` it should work --

[code]

let me know if you still see errors!

[2021-11-10 21:25] sbose78 commented on #276
Makes sense.

Another comment on this:

Do you think we could make the names IMAGE_URL/IMAGE_DIGEST , ARTIFACT_NAME/ARTIFACT_DIGEST configurable for an instance of Tekton Chains installation ?

[2021-11-11 14:16] priyawadhwa commented on #276
Yah it's definitely possible, but I'd prefer not to do that so that Tasks could be used across installations and just work.

[2021-11-11 15:18] bobcallaway opened #280 "URL to entry in rekor within annotation is incorrect"
https://github.com/tektoncd/chains/blob/2b6fc3903e2a71e303ada2b563848e3cb78c6857/pkg/chains/signing.go#L218

This should be `https://rekor.sigstore.dev/api/v1/log/entries?logIndex=12345` instead of `https://rekor.sigstore.dev/12345`

[2021-11-11 16:29] #280 closed

[2021-11-12 20:39] dlorenc opened #282 "Switch the purl format from "docker" to "oci""
The new "oci" type got merged into PURL a few weeks ago by @rnjudge here: https://github.com/package-url/purl-spec/pull/123

We should switch over to this since it's much cleaner than the old "docker" type.

[2021-11-15 10:17] mtcolman commented on #279
@priyawadhwa  I think I might still have this issue...

I'm running the "getting started" [tutorial](https://github.com/tektoncd/chains/blob/main/docs/tutorials/getting-started-tutorial.md).

And this is the current state of tekton-chains configmap "chains-config" (i.e. storage is Tekton):
[code]

I've just run: `kubectl create -f https://raw.githubusercontent.com/tektoncd/chains/main/examples/tas

[2021-11-15 10:22] mtcolman opened #283 "Diagram overview of processes"
Hi, I was wondering whether a diagram showing an overview of how chains works would be useful to include in one of the READMEs? This is something I've had a go at putting together (it is based on the [getting started](https://github.com/tektoncd/chains/blob/main/docs/tutorials/getting-started-tutorial.md) and [signed provenance](https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-pr

[2021-11-15 14:46] priyawadhwa commented on #279
Hey @mtcolman thanks for all the info! Chains is still trying to upload to `oci` even though you haven't specified that you want that in the config because it is still assuming the oci config defaults.

We probably need some way to tell Chains to ignore OCI artifacts altogether (or any type of artifact really!). Maybe adding a `artifacts.taskrun.enabled` and an `artifact.oci.enabled` field. Then i

[2021-11-15 14:54] priyawadhwa commented on #283
Hey @mtcolman thanks for making this, it's really cool 🎉 ! I think this could be useful linked in the signed provenance tutorial since it's a nice diagram of what that tutorial is doing 😄  I just have a couple suggestions:
- could you move things related to chains setup as the first couple setups? This would include step 5 (editing chains config) and step 6 (setting up cluster auth). that way the

[2021-11-17 18:45] mtcolman commented on #283
@priyawadhwa how about these?

---------------------

### Getting Started Tutorial
![image](https://user-images.githubusercontent.com/33348891/142262579-e32a02aa-ac1f-4f08-844e-9aa14980c07c.png)

---------------------

### Signed Provenance Tutorial
![image](https://user-images.githubusercontent.com/33348891/142262619-5fda2ba1-a9b5-4332-b039-39884ed1b82d.png)

---------------------

[2021-11-22 15:45] priyawadhwa opened #287 "v0.6.0 Release"
Hoping to do this release sometime next week! Here's a few things that would be nice to have:
- [ ] https://github.com/tektoncd/chains/pull/284
- [ ] https://github.com/tektoncd/chains/issues/279
- [ ] https://github.com/tektoncd/chains/issues/249
- [ ] Create a release-0.6.0 branch during this release for docs
- [ ] Document how to create the `release-` branch in our release process

[2021-11-23 11:39] 06kellyjac opened #288 "support for multiple output providers simultaneously"
### Feature request

support for multiple output providers simultaneously for cases where provenance needs to be stored in multiple places

### Use case

1. Migration
  * An organization might already have provenance storage set up for a provider e.g. `oci` and they want to move to document storage `docdb` and to ease the transition they might want to output to both simultaneously during that tran

[2021-11-29 21:01] priyawadhwa commented on #288
Hey @06kellyjac thank for opening this issue! I think this is a great idea.

Right now we have a config option where users choose the storage backend they want:
[code]

There are a couple ways we could add in multiple backends:
1. Turn the config value into a comma-separated list e.g. `artifacts.taskrun.storage=oci,gcs`

2. Separate each backend into its own config key:
[code]
this could actually

[2021-11-30 10:51] 06kellyjac commented on #288
I like the

[code]

method since it keeps `enabled` alongside the other options like bucket name etc

For the `artifacts.taskrun.storage=oci,gcs` option it probably wouldn't be a comma separated list but a single string OR array

[code]

but again I think I prefer option 2 you proposed

[2021-11-30 16:41] priyawadhwa commented on #283
Hey @mtcolman thanks for updating the diagrams! Just a couple more thoughts and then we should be good:

Getting Started Tutorial:
- This tutorial builds the `gcr.io/foo/bar` image but never actually pushes it to a registry (that way we don't have to worry about setting auth and stuff like that). so maybe we remove the push to the remote registry, and just say that the image was built?

The diagra

[2021-11-30 17:02] mtcolman commented on #283
@priyawadhwa here you go, updated "Getting Started Tutorial" diagram:

![image](https://user-images.githubusercontent.com/33348891/144093191-d6d41884-592c-4667-be94-a48e3b26fc9f.png)

[2021-11-30 17:16] priyawadhwa commented on #271
Hey @pxp928 I'm going to close this issue because I think it's been done! Just an FYI, I just merged support for slsa-provenance v0.2 in #291, so that should be out with the next release.

[2021-11-30 17:16] #271 closed

[2021-11-30 17:19] priyawadhwa commented on #283
Amazing! If you have time to open a PR adding these to the tutorials I can get it merged in. I think this is gonna be really useful for people 😄

[2021-11-30 18:34] priyawadhwa opened #293 "Deprecate the tekton-provenance format"
We'll make the deprecation announcement in v0.6.0 and actually remove the feature in v0.8.0

[2021-11-30 19:47] pxp928 commented on #279
@priyawadhwa I can take this issue and work on a resolution.

[2021-11-30 20:32] pxp928 commented on #279
@priyawadhwa I can work on fixing this issue if no one else has started yet.

[2021-11-30 21:39] priyawadhwa commented on #279
@pxp928 thank you! I'll assign you :)

[2021-12-02 14:36] loosebazooka commented on #246
Taking a look at this, is https://github.com/tektoncd/chains/blob/main/pkg/chains/storage/oci/oci.go#L166 not sufficient to verify an image does not exist?

[2021-12-02 15:23] priyawadhwa commented on #246
good call! we can close this

[2021-12-02 15:23] #246 closed

[2021-12-02 15:25] priyawadhwa opened #296 "Distinguish attestations during storage"
Right now when we upload to OCI we distinguish between signatures and attestations.

We could do the same when uploading to gcs, tekton and docdb and append the ".att" suffix to help distinguish.

for gcs this change would happen here:
https://github.com/tektoncd/chains/blob/e5f8d4424255798a633e200420fc00d8c19c044b/pkg/chains/storage/gcs/gcs.go#L66

and etc for the other backends

[2021-12-02 15:25] priyawadhwa commented on #246
opened https://github.com/tektoncd/chains/issues/296 as a related issue

[2021-12-02 16:33] loosebazooka commented on #296
I'll take a look

[2021-12-02 17:08] loosebazooka commented on #296
Just to check my understanding.

Attestations will exist only for payloads that are of payload type "`in-toto`/`tekoton-provenance`", other types should just follow the existing flow and write raw payloads to the storage backend?

[code]

[2021-12-02 17:36] priyawadhwa commented on #296
so basically payloads are always either a "signature" or an "attestation" (also signed). this check basically is used to determine which one is which.  We can probs copy cosign and append ".sig" for signatures and ".att" for attestations to help distinguish between the two!

[2021-12-03 22:26] priyawadhwa commented on #287
After release I found a bug, which should be fixed by https://github.com/tektoncd/chains/pull/298! Will do a v0.6.1 point release once it's merged.

[2021-12-06 23:54] loosebazooka commented on #296
impl for gcs: https://github.com/tektoncd/chains/pull/300

[2021-12-07 02:36] #287 closed

[2021-12-07 02:37] priyawadhwa opened #301 "Release v0.7.0"
- [x] https://github.com/tektoncd/chains/pull/284
- [x] https://github.com/tektoncd/chains/issues/279
- [ ] Include backwards incompatible change from #300 in release notes
- [ ] https://github.com/tektoncd/chains/issues/320

[2021-12-07 16:05] loosebazooka commented on #296
I'm a little confused about how this would look for the tekton backend? The tekton backend is storing stuff in the taskrun? Would it be cyclically referring to itself?

[2021-12-07 23:01] priyawadhwa commented on #296
yup, it would pretty much either be storing the taskrun or the intoto attestation back on the taskrun itself

we could just change the annotation name here to indicate which payload it is, but tbh i don't think it's a big deal either way

[2021-12-08 01:10] loosebazooka commented on #296
I think I'm missing something here, but what's the point of storing the taskrun in the taskrun? Is it storing a snapshot of the taskrun at a different time?

[2021-12-08 01:13] priyawadhwa commented on #296
sort of, it's mostly just a convenient. it's a snapshot of the taskrun before chains modifies it. afterwards, chains adds the TaskRun (payload), signature, and any certs that may have been issued back onto the TaskRun as an annotation

users would have to strip those new annotations to get the original payload for signature verification (totally possible, just kinda annoying).

[2021-12-08 01:14] loosebazooka commented on #296
gotcha, okay this makes sense now

[2021-12-08 20:39] loosebazooka commented on #296
So after discussion, it seems like we want a way to store multiple signed data in the backends from different signing events.

Each new payload added to the backend must have an accompanying signature -- the pair/tuple should be a single unit that is referenceable in some way. If a signature is overwritten, the payload should not be left hanging (as would be the case with #300 -- so this will be r

[2021-12-11 06:56] mlieberman85 opened #305 "v0.6.1 Release validation script returns that most of the images don't have valid attestations in Rekor"
It looks like an issue with the region subdomains for gcr as it just appears to be a single image?

See:
[code]

vs:
[code]

The regular gcr.io image is the only one that shows up as valid. It can be misleading as it might lead folks to believe that the images don't have valid attestations from the Tekton team. We also built some automated tooling that will vendor Tekton chains based on valid Reko

[2021-12-11 07:04] mlieberman85 commented on #305
Another thing to consider here is the validation as it's setup I would assume would fail if you don't use all images in a release that are associated with an attestation which could cause issues.

[2021-12-11 07:25] mlieberman85 opened #306 "SLSA v0.2 provenance implementation for invocation.parameters doesn't line up with spec"
Below creates a list of key=value strings for invocation.parameters:
https://github.com/tektoncd/chains/blob/ddf7daffe805b7d94c59b742f050b8fc74d55446/pkg/chains/formats/intotoite6/intotoite6.go#L118-L139

However the docs on the spec state:

Key being `arbitrary JSON object`

See: https://github.com/slsa-framework/slsa/blob/main/docs/provenance/v0.2.md

[2021-12-11 21:45] mlieberman85 opened #308 "SLSA v0.2 provenance implementation for builder.id doesn't line up with spec"
Similar to: #306

The builder.id is supposed to be a TypeURI. "tekton-chains" does not match up. This should be a trivial change but would require making a decision around a URI for tekton-chains as a builder type.

I think this might require a little bit of discussion as we might want to encode additional metadata about the builder outside of just the fact that the build was recorded by "tekton-c

[2021-12-12 22:06] mlieberman85 opened #309 "SLSA v0.2 provenance implementation for materials.digest (if using git) doesn't line up with spec"
materials.digest as implemented has a key for materials.revision but not for materials.digest which is in the spec.

One thing to not is there is currently some ambiguity in SLSA as to whether or not "commit id" counts as digest. https://github.com/slsa-framework/slsa/issues/214 -- However looking at a https git reference can be confusing without adding `git+` to the URI. Do other folks have any t

[2021-12-13 16:31] priyawadhwa commented on #308
I think the spot for this would be `metadata.buildInvocationId`, which the docs describe as:

Right now we have the `buildType` set to `https://tekton.dev/attestations/chains@v2`, so perhaps `builder.id` could be something like `https://tekton.dev/chains/v2`? This field can actually also be [configured by the user](https://github.com/tektoncd/chains/blob/main/docs/config.md#in-toto-configuration)

[2021-12-13 16:40] priyawadhwa commented on #309
Looks like there are two bugs here:
1. Instead of using the "revision" key we should be using "sha1" to indicate a commit, which is what the provenance in the the [github actions example](https://github.com/slsa-framework/slsa/blob/main/docs/provenance/v0.2.md#github-actions) does

[code]

2. we need to add the `git+` prefix and `.git` suffix to the URI

[2021-12-13 17:36] mlieberman85 commented on #308
This makes sense! I can open up a PR later today since it sounds like just a one (or a couple of) line change.

[2021-12-13 17:38] mlieberman85 commented on #309
There is also: https://github.com/in-toto/attestation/issues/28 here. There is some discussion if some of this at the attestation spec level as well.

[2021-12-13 17:55] priyawadhwa commented on #308
Awesome! I think it would just have to be changed here and in the associated unit tests:

https://github.com/tektoncd/chains/blob/16daafa426772f465a1055094e3a4ae74beb390a/pkg/config/config.go#L161

[2021-12-14 02:53] #65 closed

[2021-12-14 03:54] #75 closed

[2021-12-14 06:57] #97 closed

[2021-12-14 06:57] #96 closed

[2021-12-14 07:58] #99 closed

[2021-12-14 07:58] #105 closed

[2021-12-14 17:37] priyawadhwa commented on #108
/reopen
/remove-lifecycle rotten

[2021-12-14 17:38] priyawadhwa commented on #87
/reopen
/remove-lifecycle rotten

[2021-12-14 18:31] priyawadhwa commented on #113
/reopen
/remove-lifecycle rotten

[2021-12-14 19:05] priyawadhwa commented on #61
/reopen
/remove-lifecycle rotten

[2021-12-14 19:16] priyawadhwa commented on #305
Thanks for pointing this out! Comparing digests against the main released image should be sufficient to determine "no match" vs "ok".

I've updated the script and this should work now:

[code]

[2021-12-19 15:57] mattmoor opened #311 "`IMAGES` should support newline delimiters"
### Feature request

This code expects a `,` delimiter, but it would be great if this code would also support newlines: https://github.com/tektoncd/chains/blob/0c28d26827584af16f5d0bd43302a974ea5d2858/pkg/artifacts/signable.go#L159

### Use case

I feel like this makes producing and consuming this result simpler because to produce you could use append: `>> /tekton/results/IMAGES` and to consume (i

[2021-12-19 17:23] dlorenc commented on #311
+1

[2021-12-19 18:04] mattmoor commented on #311
I went with newline in https://github.com/google/ko/pull/555 so with that and this folks could use:
[code]

[2021-12-19 18:06] dlorenc commented on #311
We have an issue to support this as an input to cosign already right?

[2021-12-19 18:08] mattmoor commented on #311
Yeah.  Newline allows `$(cat /tekton/results/IMAGES)` already, but I think `cosign` should support reading this from a file so we don't always need a shell.

[2021-12-20 11:58] afrittoli opened #312 "Tekton Chains nightly builds"
### Feature request

Similar to other Tekton projects, Tekton Chains should feature nightly builds.

### Use case

- Deployment to the `robocat` cluster for daily integration
- Allow users to experiment with features that have not been included in a release yet

[2021-12-21 06:35] concaf commented on #312
I'd like to look into this 🙃

[2021-12-21 10:53] concaf commented on #279
@pxp928 now that #302 is merged, can we update the tutorials to reflect this?

[2021-12-21 15:16] pxp928 commented on #279
@concaf the config document: https://github.com/tektoncd/chains/blob/main/docs/config.md
and the tutorials: https://github.com/tektoncd/chains/tree/main/docs/tutorials
were both updated as part of the PR. Is there another location that I missed?

[2021-12-21 16:14] concaf commented on #279
@pxp928 ah! I see that the getting started tutorial was updated. I was looking for this in the [signed provenance tutorial](https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-provenance-tutorial.md), shouldn't that be updated as well? 🤔

[2021-12-21 23:23] pxp928 commented on #279
@concaf That will still work for that tutorial.

[2021-12-25 11:21] #167 closed

[2021-12-27 16:42] #309 closed

[2022-01-01 13:51] concaf opened #314 "Update Chains authentication doc with auth for DockerHub"
# Expected Behavior
Chains is able to sign images on Docker Hub.

# Actual Behavior
Chains is unable to sign images on Docker Hub while it works fine on GCR.

# Steps to Reproduce the Problem

I followed the [signed provenance tutorial](https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-provenance-tutorial.md) so these steps are from there:

1.  Install Tekton Chains
1. Set up auth

[2022-01-04 13:28] priyawadhwa commented on #244
/remove-lifecycle stale

[2022-01-04 18:05] priyawadhwa commented on #314
Hey @concaf thanks for opening this issue. It does seem really related to the cosign issue you linked. Just to make sure the `config.json` has the expected info, could you include what's in it with the sensitive information removed?

[2022-01-04 18:23] priyawadhwa commented on #279
@concaf @pxp928 I believe this issue can be closed now, can you confirm?

[2022-01-04 18:29] pxp928 commented on #279
@priyawadhwa I agree it can be closed.

[2022-01-04 20:46] #311 closed

[2022-01-05 04:58] mattmoor opened #317 "Replace `"google"` auth with cosign's ambient credential logic."
### Feature request

I'd propose changing the default `FulcioAuth` strategy from `"google"` to `"auto"` (or possibly removing it entirely) and replacing the existing `fulcioSigner` logic here: https://github.com/tektoncd/chains/blob/eee44752460aa08dcba1f520af088c8134e45c2f/pkg/chains/signing/x509/x509.go#L62-L92

With a call to [`github.com/sigstore/cosign/pkg/providers.Provide`](https://github.co

[2022-01-05 04:59] mattmoor commented on #317
cc @priyawadhwa @vaikas

I noticed this as I was preparing: https://github.com/tektoncd/chains/pull/316.  I'd forgotten this only supported Google auth, and the oidc-magic stuff should be a pretty trivial way of expanding the support here.

[2022-01-05 06:39] concaf commented on #279
@priyawadhwa sounds good! 👍🏼

[2022-01-05 06:44] concaf commented on #314
@priyawadhwa sure, this is how my `~/.docker/config.json` looks like -
[code]
I even tried different variations of this per this comment - https://github.com/sigstore/cosign/issues/587#issuecomment-1003072134
[code]
but no luck.

[2022-01-05 14:51] priyawadhwa commented on #314
Thanks @concaf for sharing that. I was able to get this to work by following the k8s docs [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials)
 to create the dockerconfig secret. It seems like the way suggested in the tutorial doesn't work for DockerHub!

When I used the originally suggested way, the base64 encoded secre

[2022-01-05 14:58] priyawadhwa commented on #317
This is a great idea! I think removing the FulcioAuth strategy would be the best move alongside this.

[2022-01-05 14:58] priyawadhwa commented on #250
/remove-lifecycle stale we should still do this :)

[2022-01-05 15:16] vaikas commented on #317
Getting consistency with the auth story would surely be fantastic!

[2022-01-05 15:46] mattmoor commented on #317
Awesome, I'll see if one of our recruits wants to pick this up, but comment here if you are looking into it so we don't duplicate efforts!

[2022-01-05 15:48] priyawadhwa commented on #317
I started taking a look, just working on getting the integration test to pass now :)

[2022-01-05 15:56] mattmoor commented on #317
Awesome :party-priya:

[2022-01-06 00:02] #317 closed

[2022-01-08 16:42] sbose78 commented on #314
Just looked up my stored secret, this is what I used to use, along with patching the relevant `sa`.

[code]

[2022-01-09 22:11] rgreinho commented on #260
This was solved by #284.

[2022-01-09 22:11] #260 closed

[2022-01-09 22:13] rgreinho commented on #301
It looks like all the PRs for the 0.7 release got merged 👍

[2022-01-10 01:06] sbose78 opened #320 "Error uploading signature and attestation"
I upgraded from v0.5.0 today and I'm getting a `getting signed image: open containers/auth.json: permission denied` in the logs. This seems to be happening while the "Starting attestation upload to OCI " is attempted. Seems to me that the signature isn't getting pushed to OCI for the same reason.

* Major changes post v0.5.x include https://github.com/tektoncd/chains/pull/284
* The error message a

[2022-01-10 01:07] sbose78 commented on #314
This doesn't seem to be working for me anymore :(
Went a version back, that works!

https://github.com/tektoncd/chains/issues/320

[2022-01-10 20:27] priyawadhwa commented on #301
Awesome! I think we should be good for a v0.7 release in the next few days; I just want to look into this bug first. Will add https://github.com/tektoncd/chains/issues/320 to the list :)

[2022-01-10 21:48] vaikas opened #326 "Verify the SCT coming back from Fulcio."
### Feature request
I think we should verify the SCT coming back from Fulcio to ensure we're not being bamboozled by it. So here:
https://github.com/tektoncd/chains/blob/main/pkg/chains/signing/x509/x509.go#L83

We call the fulcio.NewSigner, but I think we should consider calling the fulcioverifier version of it here:
https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/fulcio/fulcioverifie

[2022-01-10 22:55] priyawadhwa commented on #326
Thanks for catching this, we definitely should be verifying the SCT!

Unfortunately it looks like just swapping might not work, seems like the dependency you pointed out (`"github.com/google/certificate-transparency-go/x509"`) depends on `glog` which Chains [can't depend on](https://github.com/tektoncd/chains/blob/main/cmd/controller/main_test.go#L23-L27) because of the "log_dir redefined flag err

[2022-01-10 23:37] priyawadhwa commented on #314
hey @sbose78 , if you try to create the secret the way I described in https://github.com/tektoncd/chains/issues/314#issuecomment-1005752385, does it still fail for you?

[2022-01-11 13:10] #288 closed

[2022-01-11 14:36] sbose78 commented on #314
@priyawadhwa , yeah I did that without any success. I'm guessing there's a permission issue 🤔

[2022-01-11 14:41] priyawadhwa commented on #166
/remove-lifecycle rotten

[2022-01-12 07:14] concaf commented on #314
@priyawadhwa just got some time to try this out and 🎉 yay 🎉, it worked per your comment https://github.com/tektoncd/chains/issues/314#issuecomment-1005752385, thank you! Will send a PR for the fix.

The docs that need to be updated are here, right? - https://github.com/tektoncd/chains/blob/main/docs/authentication.md

[2022-01-12 10:40] concaf commented on #320
@sbose78 surprisingly, I saw something like this some time back on OpenShift and `oc adm policy add-scc-to-user anyuid -n tekton-chains -z tekton-chains-controller` fixed it for me. Not sure if this helps though 😅

[2022-01-12 10:41] concaf commented on #314
@sbose78 judging my the logs, #320 seems a bit different 🤔

[2022-01-12 17:14] priyawadhwa commented on #268
/remove-lifecycle stale

[2022-01-12 18:39] priyawadhwa commented on #314
Hey @concaf glad it's working! Yup, let's update the docs to in this [section](https://github.com/tektoncd/chains/blob/main/docs/authentication.md#authenticating-to-an-oci-registry) to include creating the secret for dockerhub :)

[2022-01-12 18:39] priyawadhwa commented on #314
@sbose78 we can try and resolve the bug you opened in #320 since it seems unrelated!

[2022-01-12 19:22] priyawadhwa opened #328 "Tekton format signature should be base64 encoded"
cc @rgreinho

[2022-01-12 19:28] priyawadhwa opened #329 "Add docs for how to verify in-toto attestastion"
this will be part of @rgreinho's upcoming tutorial :)

[2022-01-12 19:45] rgreinho commented on #329
The PR tutorial for the tutorial update is #330.

If `artifacts.taskrun.format` is changed to `in-toto`, the `chains.tekton.dev/signature-taskrun-$TASKRUN_UID` annotation  becomes base64 encoded. Also we're not sure how to verify the payload against the new signature format.

[2022-01-12 20:07] priyawadhwa commented on #320
Hey @sbose78 so I tried to repro this @ HEAD with our [kaniko task](https://github.com/tektoncd/chains/blob/main/examples/kaniko/kaniko.yaml) and pushing to DockerHub. It worked as expected for me, so I looked into the error.

We use the [go-containerregistry](https://github.com/google/go-containerregistry) library for registry auth in k8s and based on their [auth doc](https://github.com/google/go

[2022-01-12 20:11] rgreinho commented on #328
When running the "Getting started" tutorial (see #330), the signature is written in clear and is not base 64 encoded in the annotations:

[code]
[code]

[2022-01-12 20:24] priyawadhwa commented on #328
The signature looks b64 encoded to me, but I think `cosign verify-blob` expects a b64 encoded signature now

from the [docs](https://github.com/sigstore/cosign/blob/main/doc/cosign_verify-blob.md#synopsis)

so we can remove the decoding from the tutorial and we should be good!

[2022-01-12 20:26] rgreinho commented on #328
Ok, it makes sense! The tutorial should be good for review then and we can close this issue 👍

[2022-01-13 16:00] pxp928 opened #332 "`artifacts.oci.format: tekton` causes signature not being stored to the OCI or annotations."
# Expected Behavior

Configmap setting for chains:
[code]

Does the OCI format `tekton` need to be removed? It causes signature not to be store in OCI. The documentation and code options need to be removed if this is not intended to work.

[code]
# Steps to Reproduce the Problem

1. Build and deployed chains via the main branch using `ko`
2. Change the configmap to the above
2. Running through the

[2022-01-13 16:22] priyawadhwa commented on #332
+1 to removing the `tekton` option for `artifacts.oci.format`

[2022-01-13 17:17] pxp928 commented on #332
@priyawadhwa Should the storage backend for `artifacts.oci.storage` also not have `tekton` as an option?

[code]

[2022-01-13 18:18] sbose78 commented on #320
@priyawadhwa I've been associating the `Secret` to the service account that's running the TaskRun.

😮 I think that will work, let me try. I think that's what I had done a while ago as well.

[2022-01-13 18:45] bobcatfish commented on #276
Drive by comment: via [TEP-0075](https://github.com/tektoncd/community/pull/479) we'll hopefully be adding support for richer result types (in this case objects with keys and values) so i wonder if it would be worth making this naming change now, or making it when we can update chains to use these richer types (or maybe chains would always support both?)

[2022-01-13 22:10] priyawadhwa commented on #320
@sbose78 cool, let us know if that fixes it!

[2022-01-13 22:13] priyawadhwa commented on #332
Good catch! It probably makes sense to only have `oci` as an option for `artifacts.oci.storage` actually

[2022-01-14 15:22] rgreinho commented on #329
Here is an example of the content of the `chains.tekton.dev/signature-taskrun-$TASKRUN_UID` annotation:

[code]

It was obtained by running:

[code]

[2022-01-14 19:29] priyawadhwa commented on #329
Since the in-toto attestation is signed with the [dsse envelope format](https://github.com/secure-systems-lab/dsse/blob/master/protocol.md), we'll need to verify it based on that format. Instead of writing that verification in chains, it might be better to modify `cosign verify-attestation` to be able to verify attestations stored locally in a file (right now I think it only works for oci images).

[2022-01-17 11:11] concaf opened #336 "Add a `chains-info` ConfigMap to expose Chains' version"
Other Tekton components like Pipeline and Triggers expose a `<component>-info` ConfigMap which can be queried by external tools such as CLI, primarily to query for the component's version.

See https://github.com/tektoncd/pipeline/blob/e0e994e3def8efe51d921b1cd579c8b9cde32ddd/config/config-info.yaml#L15-L29 and https://github.com/tektoncd/triggers/blob/7fbff3b122fcb77d44e1b39bb45c8a935e61f5ed/conf

[2022-01-18 13:37] pxp928 commented on #332
@priyawadhwa
Hmm...Looks like a lot of the integration test fail when the `artifacts.oci.storage` to only `oci`. Does the `tekton` option need to remain for `artifacts.oci.storage`

[code]

[2022-01-18 17:53] priyawadhwa commented on #332
Thanks for pointing this out, we probably should keep the tests just as an easy way to test signing the `simplesigning` format. for `artifacts.oci.format` we can remove the `tekton` format and only allow `simplesigning`. For `artifacts.oci.storage` let's leave the storage options as they are for now!

WDYT @pxp928 ?

[2022-01-18 18:03] priyawadhwa commented on #336
+1 this would be great

[2022-01-18 19:05] pxp928 commented on #332
@priyawadhwa I can update the integration test and such to do it the proper way. I am just not sure what the `artifacts.oci.storage` set to `tekton` is used for? In the past disabling the the `artifacts.oci.storage` to nothing ("") works to solve the issue but still fails to verify the signature. Could this be where cosign is now looking for base64 encoded signature and in the test we are decoding

[2022-01-18 20:11] priyawadhwa commented on #252
/remove-lifecycle stale

@sbose78 looks like the cosign issue was closed and support was added, does this work for you now?

[2022-01-19 18:50] #301 closed

[2022-01-20 11:35] vdemeester commented on #320
That fixes it but that shouldn't be necessary though. I think if there is no `$XDG_RUNTIME_DIR` set in the image, and thus it makes it look at `/containers/auth.json`, which.. is probably why the failure. I wonder why is this returned as an error though, in those case we should probably consider "not found" and "no permission" similarily, we couldn't get auth, let's move on. @imjasonh wdyt ?

[2022-01-20 11:38] vdemeester commented on #320
https://github.com/google/go-containerregistry/blob/c6366444aa46d4d05854960485646f5d7a2bcd09/pkg/authn/keychain.go#L103 would probably need a better handling, using the `XDG_RUNTIME_DIR` default instead of nothing if the env is not there.

[code]
From https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html.

We should either set it in the chains controller image or update go-c

[2022-01-20 15:52] sbose78 commented on #252
👋 @priyawadhwa , I will test this and let you know!

[2022-01-20 22:15] priyawadhwa commented on #332
I think it's used for tests like you said, as an easy way to make sure signing is happening without requiring a push to an OCI registry. We do need to set `artifacts.oci.storage=tekton` for the annotation to show up. Does that answer your question??

[2022-01-20 22:26] priyawadhwa commented on #276
If there isn't an immediate need for this, I'm happy to wait for richer result types!

[2022-01-20 23:18] #336 closed

[2022-01-26 22:42] sbose78 commented on #252
Closing this for now, if this persists, I will re-open.

[2022-01-26 22:42] #252 closed

[2022-01-27 17:38] priyawadhwa commented on #320
I think between #342 and #346 this should be fixed?

[2022-01-27 19:21] mlieberman85 opened #356 "Event log (e.g. Kafka) attestation storage support"
### Feature request

Ability to send attestations into an event log/stream system like Kafka.

### Use case

Writing support for every backend that an enterprise might need isn't scalable compared to the increasingly common pattern of pushing to an event log like Kafka. This allows for organizations to utilize their own connectors for the event log rather than creating backend support for somethin

[2022-01-28 04:43] priyawadhwa commented on #356
thanks for opening this @mlieberman85! lmk if anyone should be assigned to the issue.

[2022-01-28 09:13] concaf commented on #320
Well, #342 should fix this particular error, I tried and it's working fine but I'd defer to @sbose78 for closing this.

Note: on OpenShift, due to #346 `anyuid` scc is still going to be required.

[2022-01-28 16:51] priyawadhwa commented on #356
/assign @rgreinho

[2022-02-01 16:55] priyawadhwa commented on #277
/remove-lifecycle stale

[2022-02-01 22:13] priyawadhwa commented on #278
/remove-lifecycle stale

[2022-02-03 21:08] chuangw6 opened #358 "Add Grafeas as a storage backend"
### Feature request

To use Grafeas as a storage backend in Tekton Chains

### Background
Users can configure Tekton Chains based on their needs. Two main configurations are `artifacts.taskrun.format` and `artifacts.taskrun.storage`. By configuring `artifacts.taskrun.storage`, users can determine where to store the provenance and signature for the TaskRuns once they are created. Currently the opti

[2022-02-03 21:21] csullivannet opened #359 "chains/signing.go auth failure"
# Expected Behavior

Chains signs the resulting image of the [signed provenance tutorial](https://github.com/tektoncd/chains/blob/main/docs/tutorials/signed-provenance-tutorial.md).

i.e. `kubectl get taskruns.tekton.dev kaniko-chains-run-zhrt8 -o json | jq -r '.metadata.annotations."chains.tekton.dev/signed"'` outputs `true`.

# Actual Behavior

Chains does not sign the image, the controller logs

[2022-02-03 21:21] chuangw6 commented on #358
/assign @chuangw6

[2022-02-04 23:27] priyawadhwa commented on #359
Hey @csullivannet thanks for opening this issue! Would you mind trying with v0.8.0 which was just released today?

I think #361 might fix this issue (it fixed it for me on EKS!)

[2022-02-07 13:46] mtcolman opened #366 "Question: Use of anyuid for tekton-chains-controller"
Hi, from looking at the [Installation on OpenShift](https://github.com/tektoncd/chains#installation-on-openshift) section of the README it states "To install Tekton Chains on OpenShift, you must first apply the `anyuid` security context constraint to the `tekton-chains-controller service account`" can you please confirm why?

From looking at the [deployment manifest](https://github.com/tektoncd/ch

[2022-02-07 18:21] priyawadhwa commented on #366
Hey @mtcolman I believe that Chains wasn't working on OpenShift without applying `anyuid` (see discussion on the PR https://github.com/tektoncd/chains/pull/335).

@concaf might know more about why? If it's possible to tighten up these permissions I would definitely support that.

[2022-02-07 21:35] csullivannet commented on #359
@priyawadhwa Hi, thanks for this. I tested today and I can confirm I'm no longer seeing any auth issue.

[2022-02-07 21:54] priyawadhwa commented on #359
that's great to hear, i'll go ahead and close this.

[2022-02-07 21:54] #359 closed

[2022-02-07 23:42] vaikas opened #367 "Wire through the ability to configure how to obtain the Spiffe token from Fulcio provider."
### Feature request
Once this goes in:
https://github.com/sigstore/cosign/issues/1420

We should make sure we document how to utilize that for acquiring auth for Fulcio using it.

/assign @vaikas

### Use case

[2022-02-08 06:06] concaf commented on #366
@mtcolman 👋🏼
The instructions for OpenShift were added before https://github.com/google/go-containerregistry/pull/1248, #342 and #346 were merged for which anyuid was needed. You're right, we can now tighten this up.
@priyawadhwa can you assign this to me? I'll test the perms and follow up with a PR 🙃

[2022-02-08 15:52] priyawadhwa commented on #366
Thanks @concaf !

[2022-02-10 16:28] #367 closed

[2022-02-22 01:25] vaikas opened #376 "cosign verify-blob seemingly does not work with chains attestations."
# Expected Behavior
The [tutorial here](https://github.com/tektoncd/chains/blob/main/docs/tutorials/getting-started-tutorial.md) to work.

# Actual Behavior
It does not seem to work for me. If I decode the payload with the base64 the `tlog` entry can not be found. Cosign sez:

[code]

If I do not base64 decode the payload (remove the | base64 -d), so change the fetch line to:
[code]

Cosign at lea

[2022-02-22 03:29] Yongxuanzhang commented on #376
I'm using the same chains version but cannot get this error. Maybe double check the chains and cosign you have?

[2022-02-22 17:17] vaikas commented on #329
Yeah, I was using the in-toto artifacts indeed. I'll dig more into those issues, but below is the config I'm using for Chains. For cosign I'm running from head since in the past I recall @priyawadhwa telling me there were some fixes there needed.

[code]

[2022-02-22 17:19] vaikas commented on #376
Oops, this is where I wanted to add the comment to, not for #329.

Yeah, I'm using in-toto attestations and my chains config is like this.

kubectl -n tekton-chains get cm chains-config -ojsonpath='{.data}' | jq -r .
{
  "artifacts.oci.format": "simplesigning",
  "artifacts.oci.storage": "oci",
  "artifacts.taskrun.format": "in-toto",
  "signers.x509.fulcio.address": "http://fulcio.fulcio-system.s

[2022-02-22 17:37] rgreinho commented on #376
You should be able to verify the signature from the tekton task like this:

[code]

Since the signature is in the [DSSE format](https://github.com/secure-systems-lab/dsse/blob/master/protocol.md), you need to be using the signature annotation, not the payload annotation.

If you would like to see this usage in a full context, we wrote a tutorial here: https://github.com/thesecuresoftwarefactory/ss

[2022-02-22 17:41] rgreinho commented on #329
We wrote a tutorial where we explain how to use multiple storage backends and verify the attestations using `cosign`: https://github.com/thesecuresoftwarefactory/ssf/blob/main/examples/buildpacks/dual-storage-backend.md.

@priyawadhwa Do you think we could add a subsection to the [chains tutorial section](https://tekton.dev/docs/chains/#tutorials) in the documentation to link community tutorials?

[2022-02-22 18:41] #239 closed

[2022-02-22 19:39] priyawadhwa commented on #329
great idea, let's do it!

[2022-02-22 22:04] priyawadhwa commented on #376
Good point, thanks @rgreinho !

I was able to reproduce this, and I passed in the unencoded signature as the "payload" to cosign since this is in DSSE format:

[code]

The relevant entry in Rekor, which has the same sha as above:

[code]

The good news is that cosign is passing in the correct `sha` to Rekor search, but Rekor search doesn't seem to be returning any UUID even though we know one exis

[2022-02-25 17:39] #329 closed

[2022-02-28 17:35] mtcolman commented on #283
Closed by #294

[2022-02-28 17:35] #283 closed

[2022-02-28 19:42] priyawadhwa commented on #293
/remove-lifecycle stale forgot to remove this v0.8, we can do it in v0.9

[2022-02-28 19:43] priyawadhwa opened #385 "Release v0.9"
- [x] https://github.com/tektoncd/chains/issues/293

[2022-03-02 16:45] #249 closed

[2022-03-04 11:26] caugello opened #392 "Question: recommend way for custom ca certs"
In order for chains to be able to upload the OCI signature on a private registry, I would need to pass the ca cert to chains to not fail with unknown ca authority.

I am currently mounting a secret under the /etc/ssl/certs volume, however this approach leave me the responsibility to construct the ca-bundle with my custom ca + trusted root bundle-ca to be able to hit the public rekor as well.

What

[2022-03-04 16:30] xchapter7x commented on #124
/area s3c

[2022-03-04 16:33] xchapter7x commented on #277
/area s3c

[2022-03-04 19:04] harshad16 opened #393 "Mutliple imagePullSecrets arent not working"
# Expected Behavior
Correctly push the image signature to image-registry based on one of the `imagePullSecrets`

# Actual Behavior
Currently, it seems only the first `imagePullSecrets` is being used to push the signature.

# Steps to Reproduce the Problem

1. Patch serviceaccount with multiple `imagePullSecrets`
2. Trigger a task runs using one of them
3.  Check if it works.

# Additional Info

-

[2022-03-06 16:22] #250 closed

[2022-03-10 20:00] #248 closed

[2022-03-15 10:07] priyawadhwa commented on #308
this was fixed by https://github.com/tektoncd/chains/pull/331

[2022-03-15 10:07] #308 closed

[2022-03-22 07:25] concaf commented on #312
/remove-lifecycle stale

[2022-03-22 07:55] concaf commented on #252
FWIW, pushing signatures and attestations to quay.io still fails with the error:
```{"level":"info","ts":"2022-03-22T07:50:18.486Z","logger":"watcher.event-broadcaster","caller":"record/event.go:282","msg":"Event(v1.ObjectReference{Kind:\"TaskRun\", Namespace:\"default\", Name:\"kaniko-chains-run-cmzrs\", UID:\"c4e0072d-13a2-4387-8079-6363f4b2062e\", APIVersion:\"tekton.dev/v1beta1\", ResourceVers

[2022-03-23 18:51] lcarva opened #400 "Artifacts are created multiple times"
# Expected Behavior
Tekton Chains should only ever create one instance of an artifact type for a given TaskRun resource.

# Actual Behavior
Tekton Chains creates the same artifact multiple times for any given TaskRun. So far, I've been able to verify that this occurs to OCI image signatures and transparency logs uploaded to Rekor.

# Steps to Reproduce the Problem

The steps below are meant to be

[2022-03-23 21:03] lcarva commented on #400
There's another possibility here. I found an article that states a controller should stick to [One Custom Resource Modification at a Time](https://cloud.redhat.com/blog/7-best-practices-for-writing-kubernetes-operators-an-sre-perspective). Digging through the code, it looks like in most cases, the TaskRun resource is only modified [once](https://github.com/tektoncd/chains/blob/843c6b3477fee1154093

[2022-03-24 16:21] lcarva opened #402 "Unable to use artifacts.taskrun.storage: oci for all TaskRuns"
# Expected Behavior
`artifacts.taskrun.storage: oci` can be used for all TaskRuns, including ones that do not produce an image.

# Actual Behavior
When using a Task that does not produce an image, e.g. [git-clone](https://github.com/tektoncd/catalog/blob/main/task/git-clone/0.5/git-clone.yaml), the Tekton Chains controller fails with the following error:
[code]

The error above happens 7 times.

#

[2022-03-24 18:14] lcarva commented on #124
[TEP-84](https://github.com/tektoncd/community/blob/main/teps/0084-endtoend-provenance-collection.md) is related to signing of PipelineRuns.

[2022-03-24 18:29] #156 closed

[2022-03-25 05:40] #267 closed

[2022-03-25 14:02] simonbaird commented on #402
Perhaps instead of an error with retries, it could be a warning or even just an info, e.g.:

[code]

[2022-03-30 17:14] #402 closed

[2022-03-30 22:32] priyawadhwa commented on #293
/remove-lifecycle rotten

[2022-03-31 17:09] lcarva opened #408 "Chains does not work on GCP if Metadata Services are disabled"
# Expected Behavior
On a cluster deployed on GCP, the Tekton Chains controller should work properly and sign artifacts as per configuration.

# Actual Behavior
On a cluster deployed on GCP, the Tekton Chains controller halts execution if the cluster is running on GCP and [Metadata Services](https://cloud.google.com/compute/docs/metadata/overview) are not enabled.

# Steps to Reproduce the Problem

[2022-03-31 17:10] lcarva commented on #408
The root cause of this issue appears to be an outdated version of the `google/go-containerregistry` library. See [details](https://github.com/vdemeester/k8s-pkg-credentialprovider/issues/18#issuecomment-1084249349).

Updating `google/go-containerregistry` should fix the issue. I have not been successful in doing this update.

[2022-03-31 18:11] priyawadhwa commented on #408
hey @lcarva thanks for opening this bug. https://github.com/tektoncd/chains/pull/404/files includes an upgrade to go-containerregistry which should include the commit you pointed out

[2022-03-31 18:18] #408 closed

[2022-03-31 18:59] lcarva commented on #408
I can verify that using those changes the issue reported here goes away. Thanks!

[2022-03-31 19:39] lcarva commented on #312
@concaf, is this something you're still looking into? If not, I can give it a shot

[2022-04-01 05:09] concaf commented on #312
@lcarva I've not been getting the time to look into this, feel free to take it up 🙃

[2022-04-01 19:19] lcarva commented on #312
I filed a PR for enabling this: https://github.com/tektoncd/plumbing/pull/1055

Once that's approved, merged, and verified to be working, I'll create a PR against this repo (tektoncd/chains) to add relevant documentation. :crossed_fingers:

[2022-04-01 22:15] lcarva opened #410 "1.17 is now required to build the controller"
# Expected Behavior

Compiling the controller should complete successfully with go 1.6 because that's what's specified in the go.mod file.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. `go build -mod=vendor ./cmd/controller`

# Additional Info

Running `go build` with version `1.17.8` completes successfully.

[2022-04-01 22:16] lcarva commented on #410
I think the changes from https://github.com/tektoncd/chains/pull/404 introduced this. Maybe we just need to update the version listed in `go.mod` ?

cc @priyawadhwa

[2022-04-02 01:36] priyawadhwa commented on #410
Good catch, yup I think updating to 1.17 in go.mod should work!

[2022-04-04 16:24] #410 closed

[2022-04-11 05:04] priyawadhwa commented on #326
/remove-lifecycle stale

[2022-04-11 15:05] priyawadhwa commented on #166
/remove-lifecycle stale we should still do this

[2022-04-13 19:22] priyawadhwa commented on #113
/remove-lifecycle rotten

[2022-04-13 20:36] priyawadhwa commented on #61
/remove-lifecycle rotten

[2022-04-14 16:42] #282 closed

[2022-04-20 22:00] ChrisJBurns opened #423 "Chains not pushing signed image to Harbor"
# Expected Behavior
- Kaniko builds image in pipeline
- Image is pushed to Harbor
- Chains starts to run and tries to pull the image to sign it
- Signs image and uploads attestations

# Actual Behavior
- Kaniko builds image in pipeline
- Image is pushed to Harbor
- Chains starts to run and tries to pull the image to sign it
- get UNAUTHORISED error from Harbor

# Steps to Reproduce the Problem
1.

[2022-04-20 22:34] ChrisJBurns commented on #423
A bit of an update to make things easier - instead of me having to paste all of the pipeline yamls. I have applied the following kaniko task inside the `tekton-ci` namespace. https://github.com/tektoncd/chains/blob/main/examples/kaniko/kaniko.yaml

And also have a secret in that namespace with the `dockerconfigjson` secret that contains the Harbor admin creds.

I reference it in the running of the

[2022-04-21 11:25] ChrisJBurns commented on #423
Ok, so a bit of more debugging, it seems I've made a bit of a mistake somewhere around the service account permissions, namely the difference between the `imagePullSecret` vs `secret` of the service account. Will post a better description in the coming comments..

[2022-04-21 11:59] ChrisJBurns commented on #423
So, after a bit more investiation, it seems that the service account that is attached to the pippelinerun, that ends up performing the `kaniko` task, in order for Tekton Chains to work, it has to have both `imagePullSecrets` and `secret` referencing the `.dockerconfigjson` secret for Harbor.

Before, it only had the following:

[code]

This worked when pushing images to Harbor, but not when it nee

[2022-04-21 14:39] priyawadhwa commented on #423
Hey @ChrisJBurns thanks for debugging this and reporting your findings! I definitely think it would be useful to add this to the documentation. If you or anyone else could open a PR I'm happy to review it.

Until we fix it, maybe we rename this issue "Add documentation for setting up authentication to Harbor"?

[2022-04-21 15:44] priyawadhwa opened #426 "Grafeas unit tests are flaky"
The grafeas `[pkg/chains/storage/grafeas TestBackend_ListOccurrences]` unit test is flaky:

[code]

an [example failure log](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_chains/420/pull-tekton-chains-unit-tests/1517164418503282689/) provided.

cc @chuangw6 who added this in, do you have any ideas why it might be flaky?

[2022-04-21 17:15] ChrisJBurns commented on #423
Hi @priyawadhwa sure thing, I can open a PR for it. However, do we think this is a registry wide issue? Or just Harbor? I'm curious what would happen if someone was to use GCR or something else with a service account that only has the `secret` in it. I'm curious if both `secret` and `imagePullSecret` is needed for all registries? Possibly something for someone to try?

Also, I just want to double

[2022-04-22 03:19] chuangw6 commented on #426
Hi @priyawadhwa ,
Thanks for reporting this. Just digged into this and found out it's because when retrieving all occurrences stored as a map in the fake server, the order retrieved sometimes is not same as the insertion order (as Go maps do not maintain the insertion order). So I added the code to sort all occurrences by resource uri when calling `ListOccurrences`. This will make sure the test is

[2022-04-22 11:38] savitaashture commented on #426
Hi @chuangw6 and @priyawadhwa
even we see chains nightly failing here https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-nightly/pipelineruns/chains-release-nightly-5wt2l?pipelineTask=unit-tests&step=unit-test
because of flakiness

[2022-04-22 14:07] priyawadhwa commented on #426
Thank you @chuangw6 for looking into it! @savitaashture hopefully tonight's build passes now that the fix is about to be merged 🤞🏽

[2022-04-22 16:07] chuangw6 commented on #426
Yeah, now it should fix the issue. From the log, I see it failed because of the same issue I just mentioned. @savitaashture

[2022-04-22 20:31] GooseYArd commented on #423
I'm having the same issue, have tried the same steps, the one interesting detail I found by enabling harbor debug logging is that the incoming push request to harbor appears to be anonymous- I'm clueless about how tekton locates and consumes the dockerconfig stuff while the task is running and am unsure how I might debug it.

[2022-04-23 06:36] chuangw6 commented on #358
#389

[2022-04-24 21:34] priyawadhwa commented on #358
Hey @chuangw6 , can this be closed or is there more work to be done?

[2022-04-25 07:04] concaf commented on #314
/remove-lifecycle stale
working on this today

[2022-04-25 18:46] chuangw6 commented on #358
Hi @priyawadhwa ,
There is more work to be done. Specifically, we want to change grafeas api from v1beta1 to v1.

[2022-04-28 12:30] imjasonh commented on #320
I think this is done. @sbose78 feel free to reopen if it's still not working.

/close

[2022-04-28 12:30] #320 closed

[2022-04-28 15:05] #314 closed

[2022-04-28 17:10] rgreinho commented on #356
This was solved by #386.

[2022-04-28 18:01] mlieberman85 commented on #356
Thanks! Closing issue

[2022-04-28 18:01] #356 closed

[2022-05-03 00:14] dprotaso commented on #426
This consistently fails here: https://github.com/knative/pkg/runs/6265134542?check_suite_focus=true

All that check is doing is testing the latest `knative.dev/pkg` with the latest chains version

[code]

[2022-05-03 01:06] chuangw6 commented on #426
From looking at the logs, it seems not related to tests of `ListOccurrences` , and not even related to grafeas support because `TestInitializeBackends/gcs` test also throws error.

I guess it might be because your github actions don't set any google application default credentials. And the tests failed, which indicated by the message like
[code]

[2022-05-03 02:39] dprotaso commented on #426
weird - email reply didn't go through

That makes sense - but why would a unit test require this?

[2022-05-04 12:52] pxp928 commented on #385
Hey @priyawadhwa! Is the plan to remove `tekon-provenance` completely from this release?

[2022-05-04 21:31] #293 closed

[2022-05-05 17:24] #385 closed

[2022-05-07 21:50] #296 closed

[2022-05-10 08:52] concaf commented on #366
/remove-lifecycle stale
PR is already out

[2022-05-11 15:06] lcarva commented on #312
This should be all set now. There were multiple related PRs:

- https://github.com/tektoncd/plumbing/pull/1055
- https://github.com/tektoncd/plumbing/pull/1064
- https://github.com/tektoncd/plumbing/pull/1072
- https://github.com/tektoncd/chains/pull/422
- https://github.com/tektoncd/chains/pull/427

@priyawadhwa, @afrittoli, can we close this?

[2022-05-13 05:25] chuangw6 commented on #426
Hey @dprotaso ,
sorry for the delay. Just saw @imjasonh disabled the unit tests (for gcs backend storage creation) that require setting up credentials in #438.

I also disabled the unit tests for grafeas backend storage creation in #446. Hope these two prs will get rid of issues caused by missing credential setup.
Thanks.

[2022-05-13 19:09] #108 closed

[2022-05-13 21:12] #305 closed

[2022-05-20 07:25] jose-hernandez2 commented on #423
Hi. We also tried following the [documentation](https://tekton.dev/docs/chains/signed-provenance-tutorial/) on OpenShift 4.9 and we have the same problem. However, in our case we have tried using quay.io and IBM Cloud Container Registry, so it doesn't seem to be an issue affecting only Harbor. In the usage logs of quay.io I can also see that the image is successfully pushed by Kaniko using the rob

[2022-05-27 17:32] chuangw6 opened #455 "Proposal: Separate KSAs for different operations"
### Feature request

Currently, there is only one KSA named `tekton-chains-controller` under `tekton-chains` namespace for authentication in different operations such as signing (kms key access), and storage (storage backend access i.e. grafeas).

Would it be possible to have separate KSAs for these different operations?

### Use Case
Motivation behind this is to NOT force signing and storing oper

[2022-05-27 20:55] wlynch commented on #455
To clarify, are you asking for:

1. Different instances of chains on the same cluster, each with their own identity/permissions (i.e. 1 per namespace)?
2. Separating out signing and storage writing into separate pods in the same namespace?

If 1, I'm all for it! There was some [recent discussion in Slack](https://tektoncd.slack.com/archives/C015FAQV290/p1653489698493779) that might be of interest

[2022-05-31 09:39] priyawadhwa commented on #455
For 1, I think it should still be ok to have just the `tekton-chains-controller` KSA since it'll be per namespace.

I'd also like more clarity around (2) if that's the main goal!

[2022-05-31 18:53] lcarva commented on #423
@ChrisJBurns,

The image itself is always "unsigned" on the registry. If you have `oci` storage enabled, Chains will create an image signature and attestation, and push them along side the image in the registry. (This is implemented by [cosign](https://github.com/SigStore/cosign)). Client tooling, e.g. also cosign, is responsible for making this correlation at consumption time. For example, if I h

[2022-06-03 15:28] #244 closed

[2022-06-10 16:07] #166 closed

[2022-06-10 21:17] developer-guy commented on #277
I'm going to write a TEP for this ASAP

[2022-06-11 21:36] #328 closed

[2022-06-12 07:52] haf-tech opened #458 "chains.tekton.dev/signed failed if TaskRun does not produce image"
# Expected Behavior
As long a signature is generated and added to the annotation (`chains.tekton.dev/signature-taskrun-...`) is the annotation `chains.tekton.dev/signed: true` and not `failed` for TaskRuns which produce not an image, like git-clone.

Similar too #402
But not sure, if `chains.tekton.dev/signed` is fixed too in this PR.

# Actual Behavior

`chains.tekton.dev/signed: failed` if `arti

[2022-06-13 06:19] manojbison opened #459 "Multi-arch support for Tekton Chains"
### Feature request

At this moment chain controller images are running only on linux/amd64 platform.  Is it possible to publish multi-arch versions of controller images with linux/amd64, linux/s390x, linux/ppc64le and linux/arm64 support?
In case if ko tool was used to build initial version, generate the multi-arch image is possible using --platform=linux/amd64,linux/s390x,linux/ppc64le,linux/arm

[2022-06-13 09:56] priyawadhwa commented on #459
Hey @manojbison thanks for opening this issue.

The list of architectures we release can be found here in the release Pipeline:

https://github.com/tektoncd/chains/blob/a4fce9f22bef64775d5afb48cb123f633f0337ee/release/release-pipeline.yaml#L45-L46

We do provide images for `linux/amd64` and `linux/arm64`.

Adding additional platforms `linux/s390x, linux/ppc64le` there should work.  If anyone is ab

[2022-06-13 10:01] priyawadhwa commented on #458
Hey @haf-tech thanks for opening this issue! This definitely looks like a bug. Instead of returning this error:

https://github.com/tektoncd/chains/blob/5b941294a0d6f61b35f8c2089365bbf1b4e8ab8b/pkg/chains/storage/oci/oci.go#L108

I think maybe we should just log it and return nil --

[code]

Would you be interested in opening a PR to fix this?

[2022-06-14 08:21] Siddhesh-Ghadi commented on #459
Thanks @priyawadhwa. We are currently compiling `chains` on `ppc64le` & `s390x` platform. There are some failures due to image dependencies. We will enable image builds for `linux/s390x` & `linux/ppc64le` using your suggest approach once we resolve the failures.

[2022-06-14 13:20] ywluogg opened #460 "Add maven package support using simple type hinting in intoto provenance"
### Feature request

Add maven package support using simple type hinting in intoto.
Currently we support git source and OCI images. Supporting maven packages in image in simple type hinting gives extra support of such type of artifact and let users to use Chains before TEP 0075, 0076 and 0109 can be released.

### Use case
We will have:
[code]

From this, we will generate a subject in intoto prove

[2022-06-15 08:04] #392 closed

[2022-06-16 13:17] Siddhesh-Ghadi commented on #459
@snehakpersistent could successfully compile `controller` image and use it to deploy chains on `ppc64le`. She also tried few tutorials on chains to validate the functionality. The image dependencies I mentioned in previous https://github.com/tektoncd/chains/issues/459#issuecomment-1154869850 are related to e2e tests. We are working on adding ppc64le support to these third-party test images. In the

[2022-06-17 08:45] haf-tech commented on #458
@priyawadhwa ok thanks for the info. Let me check the source code and the PR possibility

[2022-06-17 11:35] manojbison commented on #459
we are able to build and run controller image successfully on s390x platform. This PR : https://github.com/tektoncd/chains/pull/463 to Multi-arch support.

[2022-06-19 23:47] #332 closed

[2022-06-24 15:41] chuangw6 opened #471 "KeyID in Grafeas Occurrence"
### Feature request

When we create Grafeas occurrences, we only set the KMS key path `gcpkms://projects/<project>/locations/<location>/keyRings/<keyring>/cryptoKeys/<key>` as the keyID field of [the DSSE envelope](https://github.com/grafeas/grafeas/blob/0ec8596e37d3d853ef0ab8318f69b112cdc161ee/proto/v1/common.proto#L119).

If chains is configured to sign with k8s secret `signing-secrets` in the `

[2022-06-24 15:41] chuangw6 commented on #471
/assign @chuangw6

[2022-06-24 15:42] chuangw6 commented on #471
Thoughts? @wlynch @priyawadhwa

[2022-06-29 15:21] chuangw6 opened #476 "Set the StorageOpts's key for OCI artifact to be the full identifier"
### Feature request

There is a clear need in Grafeas backend storage to get the full identifier for an OCI artifact, that is `IMAGE_URL@IMAGE_DIGEST`.

Currently, the [`StorageOpts` key](https://github.com/tektoncd/chains/blob/7894a226f1628727ecbcd77fa7a8400b83b22339/pkg/config/options.go#L21-L26) is [set](https://github.com/tektoncd/chains/blob/7894a226f1628727ecbcd77fa7a8400b83b22339/pkg/chains

[2022-06-29 15:46] chuangw6 opened #477 "SLSA version in Tekton Chains"
Currently Tekton Chains generates intoto statement with [SLSA 0.2 predicate](https://slsa.dev/provenance/v0.2). However, we might expect breaking changes from SLSA version v0.X to v1.0 according to [the official doc](https://slsa.dev/provenance/v0.2) since it is constantly evolving ([SLSA roadmap](https://github.com/slsa-framework/slsa-proposals/blob/main/0002/README.md)).

We expect regular itera

[2022-06-29 22:01] chuangw6 commented on #477
## Concern
While supporting the latest SLSA provenance, we should avoid breaking the users/consumers who are still relying on the older SLSA version.

## Proposal
1. Chains generates one intoto statement per SLSA version (that is, each intoto statement contains a specific version of SLSA predicate).
2. To support 1/, Chains needs to use the [generic `Statement` struct](https://github.com/in-toto/i

[2022-06-30 20:25] ywluogg opened #482 "Add docs and reference for GCP use of Tekton Chains"
### Feature request

Add docs and reference for GCP use of Tekton Chains

### Use case

[2022-06-30 20:25] ywluogg commented on #482
/assign ywluogg

[2022-07-01 23:17] #278 closed

[2022-07-06 17:55] lcarva opened #484 "Chains creates attestation for non-successful TaskRuns"
# Expected Behavior
The Tekton Chains controller should only create TaskRun attestations if the TaskRun succeeds.

# Actual Behavior
The controller creates TaskRun attestations regardless of the final state of the TaskRun.

# Steps to Reproduce the Problem

It's easier to verify this behavior when the transparency log is enabled. The steps below assume this has been done.

1. Create a task, for ex

[2022-07-07 13:37] wlynch commented on #477
Chatted with @chuangw6 about this a bit last week - I think we landed on a similar idea to yours @priyawadhwa! The alternative we were thinking of was allowing multiple values in the existing `artifacts.*.format` field, i.e. `intoto-v0.2`, `intoto-v1`, with the existing `intoto` value just being an alias to the latest version. Thinking about it more now, I think your approach might be better to ad

[2022-07-07 13:57] wlynch commented on #484
This might be a feature?
I'm imagining a case where an entire release pipeline is completed except for some non-critical last step (i.e. notify slack, etc.) - I think we would still want provenance information generated so we can trace back metadata for any pushed artifacts.

For the same reason I don't think it's a bad idea to generate attestations for failed TaskRuns, since an attestation is jus

[2022-07-07 14:13] lcarva commented on #484
In the case of a non-successful TaskRun, its attestation will always in include a `null` value for the subject. This is because a non-successful TaskRun produces no results, thus Chains cannot use type-hinting to identify if an image was built. I think that reduces some of the value from the attestation since we can't map it back to an image, for example.

The current TaskRun attestation also has

[2022-07-07 14:38] chuangw6 commented on #477
Just want to clarify:

If we introduce the new `formats.in-toto.version` field, is it just an auxiliary field for the existing `artifacts.taskrun.format` field?
To put it differently, users still need to configure the `in-toto` option for the `artifacts.taskrun.format` field. And when we see `in-toto` is selected, we check `formats.in-toto.version`:
    - If `formats.in-toto.version` is empty or `

[2022-07-08 14:14] ywluogg opened #485 "Discuss whether Chains should check artifact's digest in TaskRun"
Per [the discussion thread](https://github.com/tektoncd/chains/pull/465#discussion_r916160951), it worths more discussions if Chains should check the existence of the artifact.
Here are a few things we are looking:
1. if digest matches the uri
2. if the uri exists

One idea is to not let Chains does this job, but rather, relying on [trusted tasks / resources](https://github.com/tektoncd/community/

[2022-07-08 14:18] ywluogg commented on #276
[TEP 109](https://github.com/tektoncd/community/pull/697) is addressing TEP 76 in Chains

[2022-07-11 10:08] priyawadhwa commented on #277
/remove-lifecycle rotten

[2022-07-11 10:08] priyawadhwa commented on #326
/remove-lifecycle stale

[2022-07-11 15:16] ywluogg commented on #485
@wlynch @priyawadhwa

[2022-07-13 10:06] priyawadhwa commented on #113
/remove-lifecycle stale

[2022-07-14 17:20] ywluogg commented on #484
[code]
This makes me wonder if we can use another field we can generate not at the end of a Run. Would this be similar to the discussion around the discussion to add a new field to Run status to capture input/output artifacts to make this more discoverable / extensible by chains

[2022-07-15 18:49] ywluogg opened #490 "[TEP 109] Implementation in Chains"
### Feature request

Implement structured provenance retrieval in TEP 109

### Use case

[2022-07-25 22:02] priyawadhwa commented on #376
/remove-lifecycle rotten

[2022-07-25 22:09] priyawadhwa commented on #485
From the [slsa doc](https://slsa.dev/spec/v0.1/requirements#identifies-artifact) it seems like this isn't required for level 2:

[2022-08-01 20:29] #393 closed

[2022-08-09 16:37] priyawadhwa commented on #312
/remove-lifecycle stale

[2022-08-10 22:00] chuangw6 opened #515 "Noisy error message in controller log"
# Expected Behavior

If users only configures KMS as the signer for both taskrun and oci artifact and `signing-secrets` is not configured, controller log doesn't complain anything about x509.

# Actual Behavior

If the kms is chose as the signer for both taskrun and oci artifact and `signing-secrets` is not configured, controller log contains the following error message. This error message might b

[2022-08-10 22:01] chuangw6 commented on #515
cc @dibyom @bendory @jagathprakash

[2022-08-10 22:02] chuangw6 commented on #515
/assign @jagathprakash

[This](https://github.com/tektoncd/chains/blob/33400e4d2e650e15cb851db890ca09f53c1bccf1/pkg/chains/signing.go#L57-L81) might be the place we want to look at.

[2022-08-12 12:35] #268 closed

[2022-08-12 17:30] priyawadhwa commented on #87
/remove-lifecycle rotten

[2022-08-12 20:48] #515 closed

[2022-08-15 21:43] jagathprakash opened #520 "Do not initialize Rekor client if transparency is not enabled."
# Expected Behavior
Rekor client should not be initialized if transparency is not enable.

# Actual Behavior
Rekor client is initialized even if config.transparency.enabled is false.
In current setup the default value of config.transparency.url is "https://rekor.sigstore.dev" and as such the rekor client initialization passes. If url was set to another value, even nil, then the signing will fail o

[2022-08-16 20:40] chuangw6 opened #521 "Chains missing `configSource` in `predicate.invocation`"
# Expected Behavior

The intoto attestation with SLSA predicate generated by Chains should include `configSource` section in `predicate.invocation` that is supposed to have 3 fields `uri`, `digest` and `entryPoint` per [SLSA spec](https://slsa.dev/provenance/v0.2).

# Actual Behavior

Chains currently [doesn't set](https://github.com/tektoncd/chains/blob/d523399299ad0717fbbce81fe0b212ad688ab56c/pk

[2022-08-16 20:51] chuangw6 commented on #521
We might need to preserve an entry in the `materials` that is specifically for `invocation.configSource.uri` and `invocation.configSource.digest`.

If the entry in `materials` created with the values of `CHAINS-GIT_COMMIT` and `CHAINS-GIT_URL` params is what we want for `configSource`, we also need a preserved param name i.e. `CHAINS-ENTRYPOINT` for `invocation.configSource.entryPoint`.

Thoughts?

[2022-08-16 20:52] chuangw6 commented on #521
cc @wlynch @priyawadhwa @lcarva @bcaton85 @jagathprakash

[2022-08-16 21:14] wlynch commented on #521
IIUC, this would be source information for the Run object? We don't really have a concept of that today, since all Run objects come to us directly through the k8s API.

`CHAINS_GIT*` is really source provenance information, which describes what is happening inside the build not the how the build was created.

Top level Run refs (i.e. pipelineRef, taskRef) are probably going to be the closest appro

[2022-08-16 21:59] chuangw6 commented on #521
From slsa spec,

For the url/digest, I am thinking the repo url/digest that triggers the pipelinerun i.e. the `gitrevision` and `gitrepositoryurl` in this [example](https://github.com/tektoncd/triggers/blob/e4ecfe29bfa80bdb5560cf9cffe6e30fcc6e95d9/docs/getting-started/triggers.yaml#L8-L12).

If so, we can teach trigger to record the config source information in the annotation of the run object so

[2022-08-16 23:07] wlynch commented on #521
Triggers are almost too generic here since they don't have a strong affinity for particular source or could have multiple sources, etc. I think workflows are meant to make this a bit more opinionated in this area.

I'm hesitant to give special meaning to a user supplied value - any ideas on how can we verify this is actually correct?
@Yongxuanzhang this sounds similar to trusted resources, but ins

[2022-08-17 13:20] lcarva commented on #521
Could this be a good place to store information about the Task (for TaskRun attestations) and the Pipeline (for PipelineRun attestations) definitions? Currently, this information is not stored in the attestation at all.

If a Tekton Bundle is used, this would be really useful:
- `uri` -> OCI image reference
- `digest` -> digest of the image? of the Task/Pipeilne definition?
- `entrypoint` -> name

[2022-08-17 14:08] Yongxuanzhang commented on #521
Could you elaborate more on "that could be a part of the signature", you mean also signing it or it can be another signature that we want to verify?

[2022-08-17 15:09] wlynch opened #522 "Upgrade to pipeline v1beta1 types"
A bunch of v1alpha1 types have been removed in [Pipelines 0.38](https://github.com/tektoncd/pipeline/releases/tag/v0.38.0). This is blocking upgrade of the Pipelines dep - https://github.com/tektoncd/chains/pull/516

We should move our dependency to v1beta1.

[2022-08-17 15:10] wlynch commented on #522
@ywluogg Interested in picking this up? 👀

[2022-08-18 14:53] wlynch commented on #521
@lcarva

👍 This is inline with what I was thinking with top level refs.

I actually don't think it's that far off! entrypoint is optional so we could omit it for API objects that only have 1 item, uri could be the API path (i.e. `/apis/tekton.dev/v1beta1/namespaces/default/tasks/foo`, maybe throw in an `@UUID` to uniquely ID it), digest could be a SHA256 digest of the json.

---

@Yongxuanzhang

E

[2022-08-18 15:23] ywluogg commented on #522
Yes!

[2022-08-18 15:24] ywluogg commented on #522
/assign @ywluogg

[2022-08-18 15:48] chuangw6 commented on #521
The explanation for the `invocation` field in slsa spec is "Identifies the event that kicked off the build.". In that sense, I feel like refs (i.e. oci bundles url, digest, task/pipeline name) are something part of the build instead of an event that kicked off the build itself. Also, how are we going to store refs in a pipelinerun attestation's `invocation` field in case there are multiple oci bun

[2022-08-18 15:58] wlynch commented on #521
Bit of a philosophical question which I why I'm on the fence here - is there meaningful difference between `kubectl apply -f taskrun.yaml` and `tkn task start task.yaml` if they both generate the equivalent API request? The latter feels like it fits the definition of the configSource field (especially if you compare this to similar flows like GCB yamls or GitHub workflow_runs).

There's only 1 top

[2022-08-20 22:35] #400 closed

[2022-08-23 15:52] dibyom commented on #521
I'm not sure what this means :) We can resolve pipelines and tasks from a variety of places but what does it mean to resolve a run remotely?

I do have a question though - The SLSA spec says the invocation field "Identifies the event that kicked off the build." while the `invocation.configSource` field "Describes where the config file that kicked off the build came from".

For Tekton, this config

[2022-08-23 19:29] chuangw6 commented on #358
/close because this has been completed by #453

[2022-08-23 19:29] #358 closed

[2022-08-30 20:04] chuangw6 opened #534 "Hub tool fails at `create-draft-release` task"
After making a [release](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/chains-release-run-lqhd5?pipelineTask=git-clone&step=clone), the [create-draft-release](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/release-draft-run-ncvd8?pipelineTask=create-draft-release&step=create-draft) task failed in the release-draft pipeline.

[2022-08-30 22:34] chuangw6 commented on #534
Good point. Here is the log of the pipelinerun https://gist.github.com/chuangw6/69f1ad406f6eaadfa1ad64ba4dfc64cd.

[2022-08-31 00:15] chuangw6 commented on #521
Agreed! This echoes what @wlynch and @lcarva said about top-level refs (i.e. source of pipeline/task definition). We can focus on this instead of trigger information.

## git source
[gitresolver](https://github.com/tektoncd/pipeline/blob/main/docs/git-resolver.md#parameters) expects from the author the exact three fields that we need for the configSource `url`, `revision` and `pathInRepo`. However

[2022-08-31 09:09] afrittoli opened #535 "Document release processes for Chains"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 11:21] afrittoli opened #536 "OpenSFF Best Practices Badge Program for Chains"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

[2022-08-31 14:02] Yongxuanzhang commented on #535
Existing doc is here https://github.com/tektoncd/chains/tree/main/release

[2022-08-31 16:34] #534 closed

[2022-09-09 22:47] chuangw6 opened #555 "Headsup: future changes in `in-toto-golang` package"
Related to https://github.com/in-toto/in-toto-golang/pull/177.

`in-toto-golang` will maintain version-specific statement structs only in favour of multiple versions support. `ProvenanceStatement ` struct that we are using right now in Chains will be deprecated. And some common types between 0.1 and 0.2 are moved to the `common` package.

Once Chains is updated to use the new version of the packag

[2022-09-10 21:37] #61 closed

[2022-09-14 15:56] chuangw6 commented on #477
/assign

[2022-09-15 00:58] michaelsatish opened #556 "missing document key (code=InvalidArgument)"
I am not sure this is a bug, thus an unstructured issue. I have been trying to store the OCI signatures in AWS DynamoDB and running into the below error. Any help will be much appreciated.

**Config**

[code]

[code]

I think the URL is correct, as the below code works.

[code]

Thank you

[2022-09-20 17:04] lcarva opened #560 "Remove finalizer after marking resource as signed"
Tekton Chains adds the finalizer `chains.tekton.dev` to TaskRun resources. My understanding is that the only reason for this is so Chains is "guaranteed" to have a chance to reconcile the resource before it gets deleted. All good here.

Once the resource is reconciled, the finalizer remains on the resource. When the resource is then deleted, the Chains controller processes the resource again. This

[2022-09-20 20:58] wlynch opened #561 "PipelineRun attestation docs"
Follow up from https://github.com/tektoncd/chains/pull/436 - we never added user docs 🤦

Please add some when you get the chance!

[2022-09-20 21:01] wlynch opened #562 "PipelineRun Attestation e2e tests"
We should add some basic e2e test running against real pipelines to verify things are working as expected.

No preference on github actions vs https://github.com/tektoncd/chains/blob/main/test/e2e_test.go - whatever is easier!

[2022-09-22 16:17] wlynch commented on #471
Sorry for missing this! This seems fine.

Alternatively we could look into doing is including a fingerprint of the key, which will probably be more reliable in uniquely identifying a key since the value of the secret can change over time.

[2022-09-22 16:59] wlynch commented on #476
This sounds fine - I'll need to dig in a bit more to see how this is referenced in other places, but refactoring how this is passed around within chains so that Grafeas can have access to the full digest sgtm.

[2022-09-23 14:54] afrittoli commented on #536
FYI @tektoncd/chains-maintainers - is anyone available to drive this to completion?

[2022-09-27 14:19] wlynch commented on #560
Sounds good to me! Go for it. :)

[2022-09-28 10:22] developer-guy opened #576 "[Question]: can we use "rekor.tlog.dev" address as a value of the annotation "chains.tekton.dev/transparency"?"
### Feature request

In the meantime, Tekton Chains adds a transparency log server API URL which is "rekor.sigstore.dev"_ to the annotation _"chains.tekton.dev/transparency"_ [^1] but the Chainguard team developed a UI project for Rekor called [rekor-search-ui](https://github.com/chainguard-dev/rekor-search-ui), so, I thought that should be a better experience for the end-users to change this URL

[2022-09-28 16:14] wlynch opened #577 "Integration tests failing"
Sample run: https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_chains/575/pull-tekton-chains-integration-tests/1575147898453102592

<details>
  <summary>Raw</summary>

[code]
</details>

I have a sneaking suspicion that this is may be related to upstream pipelines changes, since I pinned the pipelines yaml to v0.39.0 in https://github.com/tektoncd/chains/commit/1446cf828c3b07011a62d

[2022-09-28 17:03] developer-guy commented on #576
Yeah, that makes sense to me either, but from the end-user perspective, when they display the details of the TaskRun, IMHO, it'd be better to see the UI link (https://rekor.tlog.dev/?logIndex=735223) instead of the API link because UI's are a super cool feature for the end-users 🙈

[2022-09-28 17:53] wlynch commented on #577
This is a breaking change to Pipelines happening somewhere [between v0.40.0 and v0.40.1](https://github.com/tektoncd/pipeline/compare/v0.40.0...v0.40.1) with how PipelineResources are being handled - Confirmed this is working in v0.40.0. cc @jeromeju @piyush-garg

The release of v0.40.1 yesterday roughly lines up to when we started seeing this behavior. Nothing in the release notes suggests that t

[2022-09-28 18:02] abayer commented on #577
Pretty sure it's https://github.com/tektoncd/pipeline/commit/9cf7590959acd9ad9518e62d56f5941885614446 - that's the code I'm looking at for a flake in Pipeline (https://github.com/tektoncd/pipeline/issues/5574)

[2022-09-28 18:07] JeromeJu commented on #577
The `resources` field is handled in the way of being serialized into the annotations when converted to v1, which is not being served yet. I think we can safely assume it's not related to the v1 release.

[2022-09-28 18:27] abayer commented on #577
https://github.com/tektoncd/pipeline/pull/5576 should fix this!

[2022-09-30 19:28] developer-guy commented on #576
any other thoughts?

[2022-09-30 21:38] imjasonh commented on #576
rekor.tlog.dev has no SLO and may be down or deleted at any time without warning.

The rekor.sigstore.dev annotation key is named like a URL not because it should be resolved in a browser, but just to namespace it.

The HTML served at rekor.sigstore.dev can presumably also go away at any time.

I recommend against using tlog.dev for this.

[2022-10-02 19:57] afrittoli commented on #536
OpenSSF badge passing.
Added to the REAME in https://github.com/tektoncd/pipeline/pull/5586

[2022-10-02 20:22] afrittoli commented on #536
[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/6408/badge)](https://bestpractices.coreinfrastructure.org/projects/6408)

[2022-10-03 21:30] #536 closed

[2022-10-04 15:13] wlynch commented on #576
+1 to Jason / Priya w.r.t. the existing value.

If we *really* want this maybe we could put this in a separate configurable annotation? 🤔

[2022-10-04 15:22] lcarva commented on #577
I see that the fix is in main and 0.40.2, but the integration tests are still failing.

The integration tests use the nightly build which as of today is `v20221004-5d34b0c783`. The commit 5d34b0c783 does include the fix.

[2022-10-04 21:13] #561 closed

[2022-10-10 06:40] #426 closed

[2022-10-10 09:31] afrittoli commented on #535
Thank you @Yongxuanzhang - that looks good for "the steps to perform a major and a minor release".
This is an example of the document from the pipeline repo: https://github.com/tektoncd/pipeline/blob/main/releases.md

[2022-10-11 06:31] priyawadhwa commented on #326
/remove-lifecycle stale

[2022-10-11 09:23] dprotaso commented on #426
These are unit tests - so I’m surprised by that expectation

On Mon, May 2, 2022 at 21:07 Chuang Wang ***@***.***> wrote:

[2022-10-11 13:19] dprotaso commented on #426
That's weird - I didn't post that unless I did it in my sleep.

Maybe it was a draft

[2022-10-11 14:19] zregvart opened #591 "Provide TaskRun annotations in SLSA provenance"
### Feature request

I'm mostly interested in having the `experimental.tekton.dev/execution-mode` annotation available in the SLSA provenance. It might be useful to place all TaskRun annotations in there as well. A good place might be `invocation.environment.context`, similar to how this is done for GitHub Workflows in the [this example](https://slsa.dev/provenance/v0.2#github-actions).

### Use c

[2022-10-11 14:30] ywluogg opened #592 "TEP 109: implementation"
### Feature request

The issue tracks the implementation of [TEP 109](https://github.com/tektoncd/community/blob/main/teps/0109-better-structured-provenance-retrieval-in-tekton-chains.md) and log all followup items here

### Use case

- [x] Implementation: #491
- [x] Update docs

### Future Work
- Run integration with structured values (#595)

[2022-10-12 15:11] wlynch commented on #591
SGTM!

I think `invocation.environment` makes sense, though perhaps it should be `invocation.environment.annotations`?
I think context for GHA is specifically referring to https://docs.github.com/en/actions/learn-github-actions/contexts

[2022-10-12 15:13] wlynch commented on #592
@ywluogg Can you update this issue with a [task list](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists) so it's easier to see what's left to do? 🙏

[2022-10-12 16:21] #535 closed

[2022-10-12 17:44] ywluogg commented on #592
done!

[2022-10-12 20:10] zregvart commented on #591
Might be also worth including the labels, but that could be done in a different issue.

[2022-10-12 22:04] msathe-tech commented on #277
+1 for this requirement. SBOM is the missing piece in the Chains SLSA story.
Option #2 is more simple.
Chains can give a config option just like storage format to select the SBOM format. Default can be  [SPDX](https://spdx.dev/) format.
If Option #1 is chosen (and while Chains is still missing this feature) is there an example Tekton task to attach SBOM to the container image?

[2022-10-14 07:07] developer-guy commented on #576
This would be great if we could! I'm so thrilled to do that 🙈

[2022-10-18 14:51] ywluogg opened #595 "PipelineRunObject adding supported to structured results"
### Feature request

Adding support of structured results in PipelineRunObject:
Currently TaskRunObject already have the structured results [being supported](https://github.com/tektoncd/chains/blob/780521656ab0ea2a72d7a969a13040848ac6b969/pkg/chains/objects/objects.go#L98-L99) but not PipelineRunObject. It seems straightforward to add those, just curious if there's anything concerning for adding t

[2022-10-18 15:29] bcaton85 commented on #595
I think this is a good idea. Given I don't have complete knowledge of structured results. Shouldn't be too difficult as long as the calls to `GetResults` for `PipelineRunObject` and `TaskRunObject` are still being interpreted correctly depending on the type. IIRC there is places where the pipelinerun results is expected to be string.

[2022-10-18 19:27] wlynch opened #597 "Deprecate SLSA v0.1 format"
### Feature request

TaskRun intoto provenance uses an older [SLSA v0.1](https://slsa.dev/provenance/v0.1) style which is missing a bunch of fields in the TaskRun spec (thanks @chitrangpatel for pointing this out!)

- workingDir
- volumeMounts
- imagePullPolicy
- securityContext
- onError
- ...

Currently, we have a few different types of intoto provenance:

- https://github.com/tektoncd/chains/bl

[2022-10-18 19:44] wlynch commented on #597
Rough plan:

- [ ] Introduce a new `slsa0.1` option that preserves existing behavior - make `intoto` an alias for this type.
  - Remove one of the provenance / buildconfig types for `slsa0.1` to standardize.
  - Also probably add `slsa` alias for parity.
- [ ] Add new `slsa0.2` option that introduces new spec (likely based on the existing run type) - more details on spec to come (likely related ht

[2022-10-18 20:36] chuangw6 commented on #597
I think [taskrun level intoto provenance](https://github.com/tektoncd/chains/blob/ed0bd409eb1cb5a76ff5dbac6a21433b3240ad79/pkg/chains/formats/intotoite6/taskrun/taskrun.go#L29) is already following SLSA 0.2 spec.

And SLSA 0.1 has been deprecated for a while, https://github.com/tektoncd/chains/blob/main/pkg/chains/provenance/provenance.go (SLSA v0.1) is not used/called anywhere in the code base so

[2022-10-18 21:05] wlynch commented on #597
That's why it's a hybrid - it's SLSA 0.2 spec using SLSA 0.1 fields. 🙃

Important thing I care about is making sure we don't break anyone unexpectedly.

[2022-10-18 21:05] #577 closed

[2022-10-18 21:05] #522 closed

[2022-10-20 17:22] ywluogg commented on #592
/milestone v0.13.0

[2022-10-20 17:32] #592 closed

[2022-10-20 17:32] ywluogg commented on #595
/assign @ywluogg

[2022-10-20 17:51] ywluogg commented on #595
#599

[2022-10-20 19:35] #562 closed

[2022-10-20 20:17] chuangw6 commented on #476
/close because this is fixed by https://github.com/tektoncd/chains/pull/589

[2022-10-20 20:18] #476 closed

[2022-10-20 21:18] haydentherapper commented on #326
We do verification in Cosign, and worked around the `glog` issue by copying in `ctutil` - https://github.com/sigstore/cosign/blob/7ba521444f9fcfdf2e1e5936c05834597674e6c9/cmd/cosign/cli/fulcio/fulcioverifier/ctutil/ctutil.go

See https://github.com/sigstore/cosign/blob/30bf1c09c6fde849245648ff294725d86094fe28/cmd/cosign/cli/fulcio/fulcioverifier/ctl/verify.go for the verification. It still pulls f

[2022-10-20 23:45] wlynch commented on #326
We mirrored the policy-controller replace in https://github.com/tektoncd/chains/pull/514 so I don't think glog is a blocker anymore.

@haydentherapper Should we just upstream the SCT check to the Fulcio library? sigstore-go also works, but this feels fundamental enough that it might make sense in fulcio proper. 🤔

[2022-10-24 22:18] haydentherapper commented on #326
Yea, I'd be fine with adding that into a fulcio package!

[2022-10-28 07:03] stuartwdouglas opened #602 "Chains can stop PipelineRun's from being deleted if the TaskRun has been deleted"
# Expected Behavior

If a TaskRun has been removed it should still be possible to remove a PipelineRun.

# Actual Behavior

The Tekton Chains controller sees the TaskRun is missing, and returns an error without removing the finaliser. This means it is now impossible to delete the PipelineRun without manually removing the finaliser.

# Steps to Reproduce the Problem

1. Create a PipelineRun
2. Dele

[2022-10-28 10:40] #455 closed

[2022-10-28 19:40] #423 closed

[2022-10-31 18:15] lcarva commented on #602
I'm surprised by this behavior in Chains v0.9.0. That version of Chains doesn't watch PipelineRun resources. For my own sanity, can you verify that it's using the "official" Chains image?

The next release of Chains, likely v0.13.0, does include support for PipelineRun attestations so this may be an issue there.

https://github.com/tektoncd/chains/issues/560 seems related and could be a potential

[2022-10-31 21:04] stuartwdouglas commented on #602
Actually I just realised I left out a critical piece of info and just blindly filled out the version field as per the instructions(sorry, it had been a long day).

Pipeline service is actually using https://github.com/hacbs-contract/chains/tree/poc-tep-84

That said from what I could see the problem was here:

https://github.com/tektoncd/chains/blob/main/pkg/reconciler/pipelinerun/pipelinerun.go#L

[2022-11-01 15:34] lcarva commented on #602
Update: I can reproduce with the following:

# Scenario 4

Stop Chains controller.
Start PR.
Wait for PR to finish.
Delete one of the TRs from the PR.
Start the Chains controller.

I see the error message:

And I'm unable to delete the PR.

[2022-11-02 11:58] mtcolman opened #609 "Query: Use of Secrets Store CSI driver provider"
Hello,

Is it possible to use a Secrets Store CSI driver provider (for example for HashiCorp Vault) to inject the private key for signing, rather than storing it as a Kubernetes secret (as is stated [here](https://github.com/tektoncd/chains/blob/main/docs/signing.md#signing-secrets)):

I'm keen to avoid storing any secrets we don't have to as Kubernetes Secrets and so we would like to use Vault +

[2022-11-02 12:07] lcarva commented on #609
Related to https://github.com/tektoncd/chains/pull/604 ?

[2022-11-02 12:10] mtcolman commented on #609
@lcarva from what I can decipher on #604, I believe this is different.

[2022-11-02 16:46] wlynch commented on #609
I don't think we support this today, though it wouldn't be too hard to add (we'd just need to add support for reading a key from a file). Main reason we haven't done this is that configuration would require modifying the deployment spec directly + redeployment of the controller, we we suspect most users don't want to do.

For vault in particular, you may want to look into https://github.com/tekton

[2022-11-02 17:26] mtcolman commented on #609
Thanks for your response. Are you please aware of any tutorials. step-by-step guides for using Hashicorp Vault with tekton-chains?

[2022-11-03 18:51] #602 closed

[2022-11-04 14:17] #595 closed

[2022-11-07 14:30] zregvart opened #612 "The predicate.buildType syntax not in compliance with SLSA v0.2"
# Expected Behavior

The [predicate.buildType](https://slsa.dev/provenance/v0.2#buildType) in SLSA v0.2 is of type string with [TypeURI](https://github.com/in-toto/attestation/blob/main/spec/field_types.md#TypeURI) format, which is defined in [RFC 3986](https://tools.ietf.org/html/rfc3986).

# Actual Behavior

The current `predicate.buildType` is not a valid RFC 3986 URI because it's missing the [

[2022-11-07 17:26] wlynch commented on #312
/close

[2022-11-09 17:51] chuangw6 commented on #560
Agree! Similarly, we should delete the finalizer from PipelineRun resources `chains.tekton.dev/pipelinerun` right?

I am wondering if @lcarva is working on this. If not, I am happy to try to open a PoC PR to fix this :D

[2022-11-09 18:17] lcarva commented on #560
I am not currently working on this. If you have some time to do it, go for it! :pray:

[2022-11-14 12:45] #459 closed

[2022-11-14 15:40] ywluogg commented on #490
/duplicate

[2022-11-14 15:41] ywluogg commented on #490
Duplicate of #592

[2022-11-14 15:41] #490 closed

[2022-11-21 16:46] #471 closed

[2022-11-23 19:22] JeromeJu opened #625 "V1 Release Chains Support"
### Feature request

V1 CRDs are released in https://github.com/tektoncd/pipeline/pull/5579 and this issue tracks down the according requests for the v1 support in chains.

[2022-11-23 19:22] JeromeJu commented on #625
/help

[2022-11-25 22:47] #460 closed

[2022-11-27 21:47] #482 closed

[2022-11-29 11:43] zregvart opened #630 "in-toto Timestamp values might not be in UTC"
# Expected Behavior

According to the in-toto specification the [Timestamp](https://github.com/in-toto/attestation/blob/main/spec/field_types.md#Timestamp) values of data type need to be in UTC time zone.

# Actual Behavior

When fetching objects from the apiserver apimachinery [changes](https://github.com/kubernetes/apimachinery/blob/fd8a60496be5e4ce19d586738adb48ac6fa66ef9/pkg/apis/meta/v1/time.

[2022-11-29 15:28] #630 closed

[2022-11-29 17:35] lcarva commented on #277
/lifecycle frozen

(This is an important feature that we should add to Chains, thus adding a lifecycle exemption).

[2022-11-29 17:41] lcarva commented on #277
If a TaskRun produces the SBOM, it seems odd to have Chains blindly sign it. This opens the door to problems that could reduce the trust of such signed SBOMs. However, combined with the image attestation (more specifically the PipelineRun attestation) the trust is established because the exact steps that generated the SBOM can be securely seen.

Given the amount of SBOM formats out there, adding s

[2022-11-30 17:25] bobcatfish commented on #124
I think this might be being covered by the TEP-0109 structured results work by @ywluogg ?

/reopen